<script src="/vendor/javascripts/marked.min.js"></script>

<h1><span class="fa-overlay">
    <i class="fa fa-leaf"></i>
    <i class="fa fa-plus fa-overlay-se" style="color:white"></i>
    <i class="fa fa-plus-circle fa-overlay-se text-success"></i>
</span> <%- __('Add material') %></h1>

<form class="form-material" method="POST">
    <fieldset>
        <div class="row form-group">
            <div class="col-md-9">
                <div class="form-group<%= (errors.name)?" has-error":"" %>">
                    <label for="name" class="control-label required"><%- __('Name:'); %></label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="<%- __('Name'); %>" value="<%- (locals.name) ? name : '' %>"
                           required autofocus>
                    <% if (errors.name) { %>
                    <ul class="help-block with-errors">
                        <% errors.name.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group<%= (errors.parentMaterial) ? " has-error" : "" %>">
                    <label for="parentMaterial" class="control-label"><%- __('Parent material:'); %></label>
                    <select class="form-control" id="parentMaterial" name="parentMaterial">
                        <% if (locals.materials && materials.length) { selected = (locals.parentMaterial) ? parentMaterial : ''; %>
                        <% materials.forEach(function (material) { %>
                        <option value="<%- material.id || material._id %>"
                                <% if (material.id || material._id == selected) { %>
                                selected
                                <% } %>
                        ><%= material.name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                    <% if (errors.parentMaterial) { %>
                    <ul class="help-block with-errors">
                        <% for (let msg of errors.parentMaterial) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group<%= (errors.description) ? " has-error" : "" %>">
                    <label for="description" class="control-label"><%- __('Description:'); %></label>
                    <textarea rows="5" class="form-control" id="description" name="description"
                              placeholder="<%- __('Description'); %>"><%- (locals.description) ? description : '' %></textarea>
                    <% if (errors.description) { %>
                    <ul class="help-block with-errors">
                        <% errors.description.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
            <div class="col-md-6">
                <label for="description" class="control-label"><%- __('Description preview:'); %></label>
                <div id="description-preview" class="description-preview markdown"></div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="density" class="control-label required"><%- __('Density:'); %></label>
                <div class="form-inline">
                    <div class="input-group input-density with-parent-material">
                        <span class="input-group-btn">
                            <button class="btn btn-info trg-get-density-from-parent-material" data-density-id="density"
                                    title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                            </button>
                        </span>
                        <input type="number" class="form-control" id="density" name="density"
                               placeholder="<%- __('Density'); %>" value="<%- (locals.density) ? density : '' %>"
                               required min="0" step="1">
                        <div class="input-group-addon"><%- __('kg/m³'); %></div>
                    </div>
                    <% if (errors.density) { %>
                    <ul class="help-block with-errors">
                        <% errors.density.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-6">
                <label class="control-label"><i
                            class="rs rs-speed"></i>&nbsp;<%- __('Printing speed:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-6 form-group<%= (errors.printingSpeedMin) ? " has-error" : "" %>">
                        <label for="printingSpeedMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="printingSpeedMin"
                                        data-temp-type="printingSpeed" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-speed" id="printingSpeedMin"
                                   name="printingSpeedMin"
                                   value="<%- (locals.printingSpeedMin) ? printingSpeedMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('mm/s'); %></div>
                        </div>
                        <% if (errors.printingSpeedMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.printingSpeedMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-6 form-group<%= (errors.printingSpeedMax) ? " has-error" : "" %>">
                        <label for="printingSpeedMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="printingSpeedMax"
                                        data-temp-type="printingSpeed" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-speed" id="printingSpeedMax"
                                   name="printingSpeedMax"
                                   value="<%- (locals.printingSpeedMax) ? printingSpeedMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('mm/s'); %></div>
                        </div>
                        <% if (errors.printingSpeedMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.printingSpeedMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label class="control-label"><i
                            class="rs rs-extruder"></i>&nbsp;<%- __('Extrusion temperature:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-6 form-group<%= (errors.headTempMin) ? " has-error" : "" %>">
                        <label for="headTempMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="headTempMin"
                                        data-temp-type="headTemp" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="headTempMin"
                                   name="headTempMin"
                                   value="<%- (locals.headTempMin) ? headTempMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.headTempMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.headTempMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-6 form-group<%= (errors.headTempMax) ? " has-error" : "" %>">
                        <label for="headTempMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="headTempMax"
                                        data-temp-type="headTemp" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="headTempMax"
                                   name="headTempMax"
                                   value="<%- (locals.headTempMax) ? headTempMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.headTempMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.headTempMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <label class="control-label"><i
                            class="rs rs-heated-bed"></i>&nbsp;<%- __('Bed temperature:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-6 form-group<%= (errors.bedTempMin) ? " has-error" : "" %>">
                        <label for="bedTempMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="bedTempMin"
                                        data-temp-type="bedTemp" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="bedTempMin"
                                   name="bedTempMin"
                                   value="<%- (locals.bedTempMin) ? bedTempMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.bedTempMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.bedTempMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-6 form-group<%= (errors.bedTempMax) ? " has-error" : "" %>">
                        <label for="bedTempMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group with-parent-material">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-parent-material" data-temp-id="bedTempMax"
                                        data-temp-type="bedTemp" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-angle-double-down"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="bedTempMax"
                                   name="bedTempMax"
                                   value="<%- (locals.bedTempMax) ? bedTempMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.bedTempMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.bedTempMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>

        <p class="button-bar">
            <a href="/material" class="btn btn-default"><%- __('Cancel') %></a>
            <button type="submit" class="btn btn-primary"><%- __('Save') %></button>
        </p>
    </fieldset>
</form>

<script type="text/javascript">
var materialData = <%- JSON.stringify(materials) %>;

$(function() {
    $('textarea#description').keyup(function() {
        var $this = $(this);
        var $preview = $('#description-preview');
        if (!$preview.length) {
            return;
        }
        $preview.html(marked($this.val()));
    }).trigger('keyup');

    $('#parentMaterial').change(function() {
        let materialId = $(this).val();

        if (materialId && materialId.length) {
            $('form.form-material').addClass('has-parent-material')
        } else {
            $('form.form-material').removeClass('has-parent-material')
        }
    }).trigger('change');

    $('.trg-get-temp-from-parent-material').click(function () {
        var $this = $(this);
        var input = $('#' + $this.data('temp-id'));
        var tempType = $this.data('temp-type');
        var tempField = $this.data('temp-field');

        if (!input.length || !tempType || !tempField) {
            return;
        }
        var selectedMaterialId = $('#parentMaterial').val();

        if (selectedMaterialId && selectedMaterialId.length && materialData.length) {
            materialData.forEach(function (material) {
                if (material._id == selectedMaterialId) {
                    if (material[tempType] && material[tempType][tempField]) {
                        input.val(material[tempType][tempField]);
                    } else {
                        input.val('');
                    }
                }
            });
        }
    });

    $('.trg-get-density-from-parent-material').click(function () {
        var $this = $(this);
        var input = $('#' + $this.data('density-id'));

        if (!input.length) {
            return;
        }
        var selectedMaterialId = $('#parentMaterial').val();

        if (selectedMaterialId && selectedMaterialId.length && materialData.length) {
            materialData.forEach(function (material) {
                if (material._id == selectedMaterialId) {
                    if (material.density) {
                        input.val(material.density);
                    } else {
                        input.val('');
                    }
                }
            });
        }
    });
});
</script>