<h1><i class="fa fa-leaf"></i>&nbsp;<%- __('Materials') %></h1>

<div class="panel panel-default">
    <div class="panel-heading with-button">
        <a href="/material/add" class="btn btn-primary trg-add-material"><i
                    class="fa fa-plus"></i>&nbsp;<%- __('Add material') %></a>
        <% if (materials && materials.length) { %>
        <h3 class="panel-title"><%- __n("%s material", "%s materials", materials.length || 0); %></h3>
        <% } else { %>
        <%- __('No material found.') %>
        <% } %>
    </div>
    <% if (materials && materials.length) { %>
    <table class="table material-list">
        <% materials.forEach(function (material) { %>
        <tr>
            <td>
                <span class="material-name"><%- material.name %></span>
                <% if (material.url && (material.url != '')) { %>
                <br/>
                <a href="<%- material.url %>" target="_blank"><%- material.url %></a>
                <% } %>


            </td>
            <td class="table-actions">
                <div class="actions-block">
                    <a href="/material/edit/<%- material.id %>"><i class="fa fa-pencil"></i>&nbsp;<%- __("edit") %></a>
                    <a href="/material/delete/<%- material.id %>" data-id="<%- material.id %>"
                       class="trg-delete-material"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                    <a href="/material/add-file/<%- material.id %>"><i class="fa fa-paperclip"></i>&nbsp;<%- __("add a file") %></a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="material-data">
                <div>
                    <b><%- __('Density:') %></b>
                    <%- __('%s kg/m³', material.density) %>
                </div>
                <% if (material.headTemp && (material.headTemp.min || material.headTemp.max)) { %>
                <div>
                    <% temp = material.headTemp;
                       iconClass = "rs rs-extruder"; %>
                    <% include partial/tempRange.ejs %>
                </div>
                <% } %>
                <% if (material.bedTemp && (material.bedTemp.min || material.bedTemp.max)) { %>
                <div>
                    <% temp = material.bedTemp;
                    iconClass = "rs rs-heated-bed"; %>
                    <% include partial/tempRange.ejs %>
                </div>
                <% } %>
                <% if (material.printingSpeed && (material.printingSpeed.min || material.printingSpeed.max)) { %>
                <div>
                    <% if (material.printingSpeed.min && material.printingSpeed.max) { %>
                    <i class="rs rs-speed"></i> <%- __('From %s mm/s to %s mm/s', material.printingSpeed.min, material.printingSpeed.max) %>
                    <% } else { %>
                    <% if (material.printingSpeed.min) { %>
                    <i class="rs rs-speed"></i> <%- __('%s mm/s min', material.printingSpeed.min) %>
                    <% } %>
                    <% if (material.printingSpeed.max) { %>
                    <i class="rs rs-speed"></i> <%- __('%s mm/s max', material.printingSpeed.max) %>
                    <% } %>
                    <% } %>
                </div>
                <% } %>
            </td>
            <td class="material-description">
                <% include partial/files.ejs %>
                <% if (material.description) { %>
                <%- marked(material.description) %>
                <% } %>
            </td>
        </tr>
        <% }); %>
    </table>
    <% } %>
</div>

<div id="material-message-container"></div>

<script type="text/javascript">
    $(function () {
        $('.trg-delete-file').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var $fileLink = $this.closest('li').find('a.get span.link-label').first();
            var fileIcon = $this.closest('li').find('a.get i').first().attr('class');
            console.log(fileIcon);

            var confirmContent = $('<div>').text(Locale3DPTools.__('Do you really want to delete this file?'));
            confirmContent.append($('<br>'));
            confirmContent.append($('<i>').addClass(fileIcon));
            confirmContent.append('&nbsp;'+$fileLink.text());

            App3DPTools.confirmModal(confirmContent, function () {
                $.ajax({
                    type: "DELETE",
                    url: $this.attr('href'),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        document.location = document.location;
                    },
                    error: function (xhr, status, errorMsg) {
                        if (xhr.responseJSON) {
                            var data = xhr.responseJSON;
                            if (data.message) {
                                App3DPTools.errorFlash('#filament-message-container', data.message);
                                return;
                            }
                        }
                        App3DPTools.errorFlash('#filament-message-container', errorMsg);
                    }
                });
            });
        });

        function deleteMaterial(materialId) {
            $.ajax({
                type: "DELETE",
                url: '/material/delete/'+materialId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#material-message-container', data.message);
                    }
                    document.location = document.location;
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#material-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#material-message-container', errorMsg);
                }
            });
        }

        $('.trg-delete-material').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var materialId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/material/get/'+materialId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.material) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s material?', data.material.name), function () {
                            deleteMaterial(materialId);
                        });
                    } else {
                        App3DPTools.errorFlash('#material-message-container', Locale3DPTools.__('Error while retrieving data for material %s.', materialId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#material-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#material-message-container', errorMsg);
                }
            });
        });
    });
</script>