<h1><%- pageTitle %></h1>

<div class="panel panel-default">
    <div class="panel-heading with-button">
        <a href="/admin/user/add" class="btn btn-primary trg-add-user"><i
                    class="fa fa-plus"></i>&nbsp;<%- __('Add user') %></a>
        <h3 class="panel-title"><%- __n("%s user", "%s users", users.length || 0); %></h3>
    </div>
    <% if (users && users.length) { %>
    <table class="table ">
        <tr>
            <th><%- __('Email') %></th>
            <th><%- __('Firstname') %></th>
            <th><%- __('Lastname') %></th>
            <th><%- __('Creation date') %></th>
            <th class="text-center"><%- __('Admin?') %></th>
            <th></th>
        </tr>
        <% users.forEach(function (aUser) { %>
        <tr>
            <td>
                <%- aUser.email %>
                <% if (aUser.id === user.id) { %>
                <span class="label label-info"><%- __("It's me!"); %></span>
                <% } %>
            </td>
            <td><%- aUser.firstname %></td>
            <td><%- aUser.lastname %></td>
            <td><%- moment(aUser.creationDate).format('LLLL') %></td>
            <td class="text-center">
                <% if (aUser.isAdmin) { %>
                <i class="fa fa-check text-success"></i>
                <% } %>
            </td>
            <td class="table-actions">
                <a href="/admin/user/edit/<%- aUser.id %>" data-id="<%- aUser.id %>" class="trg-edit-user"><i class="fa fa-pencil"></i>&nbsp;<%- __("edit") %></a>
                <% if (aUser.id !== user.id) { %>
                <a href="/admin/user/delete/<%- aUser.id %>" data-id="<%- aUser.id %>" class="trg-delete-user"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                <% } %>
            </td>
        </tr>
        <% }); %>
    </table>
    <% } else { %>
    <div class="panel-body">
        <%- __('No user found.') %>
    </div>
    <% } %>
</div>

<div id="user-message-container"></div>

<div class="modal modal-h-center fade" id="user-form-dlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header draggable">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="status-message alert"></div>
                <form class="create-user form-horizontal" method="post">
                    <fieldset>
                    <input type="hidden" name="id" id="id"/>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label"><%- __('Email address'); %></label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="<%- __('Email'); %>" value="<%- (locals.email) ? email : '' %>"
                                   required>
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label"><%- __('Firstname'); %></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                   placeholder="<%- __('Firstname'); %>"
                                   value="<%- (locals.firstname) ? firstname : '' %>" required>
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-sm-3 control-label"><%- __('Lastname'); %></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                   placeholder="<%- __('Lastname'); %>"
                                   value="<%- (locals.lastname) ? lastname : '' %>">
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>

                    <div class="form-group" id="pwd1-group">
                        <label for="password" class="col-sm-3 control-label"><%- __('Password'); %></label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="<%- __('Password'); %>">
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>
                    <div class="form-group" id="pwd2-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input type="password" class="form-control" id="password2" name="password2"
                                   placeholder="<%- __('Password verification'); %>">
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>

                    <div class="form-group" id="pwd1-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="isAdmin" name="isAdmin"> <%- __('Administrator'); %>
                                </label>
                            </div>
                        </div>
                        <ul class="col-sm-offset-3 col-sm-9 help-block with-errors"></ul>
                    </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <fieldset>
                <button type="button" class="btn btn-default" data-dismiss="modal"><%- __('Cancel') %></button>
                <button type="button" class="btn btn-primary btn-validate-modal"></button>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var $userFormDialog = $('#user-form-dlg');
        var $userForm = $('form', $userFormDialog).first();

        function userFormClearError() {
            $('ul.help-block.with-errors', $userFormDialog).text('');
            $('.form-group.has-error', $userForm).removeClass('has-error');
            $('.status-message', $userFormDialog).hide().removeClass('alert-danger').removeClass('alert-success');
        }

        $userFormDialog.on('show.bs.modal', function() {
            $('fieldset', $userFormDialog).removeAttr('disabled');
            $userForm[0].reset();
            $userForm.show();
            userFormClearError();
        });

        $userForm.submit(function (e) {
            e.preventDefault();
            $('.status-message', $userFormDialog).hide().removeClass('alert-danger').removeClass('alert-success');

            var $this = $(this);
            var userData = {};
            $this.serializeArray().forEach(function(field) {
                if (field.name && field.value) {
                    userData[field.name] = field.value;
                }
            });
            userData.isAdmin = (userData.isAdmin)?true:false;

            var url = '/admin/user/add';
            var method = 'PUT';
            if ($userFormDialog.data('type') == 'edit') {
                var url = '/admin/user/edit/'+userData.id;
                var method = 'POST';
            }

            $('fieldset', $userFormDialog).attr('disabled', 'disabled');
            userFormClearError();
            $.ajax({
                type: method,
                data: JSON.stringify(userData),
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        $userForm.hide();
                        $('.status-message', $userFormDialog).addClass('alert-success').text(data.message).show();
                        setTimeout(function() {
                            document.location = document.location;
                        }, 1500);
                    } else {
                        document.location = document.location;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    $('fieldset', $userFormDialog).removeAttr('disabled');
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            $('.status-message', $userFormDialog).addClass('alert-danger').text(data.message).show();
                        }
                        if (data.errors) {
                            for(var field in data.errors) {
                                if (data.errors[field].length) {
                                    var errorBlock = $('input[name='+field+']', $userForm)
                                            .closest('.form-group').addClass('has-error')
                                            .find('.help-block.with-errors').first();
                                    if (data.errors[field].length) {
                                        data.errors[field].forEach(function(errorMsg){
                                            $("<li>").text(errorMsg).appendTo(errorBlock);
                                        });
                                    }
                                }
                            }
                        }
                    } else {
                        $('.status-message', $userFormDialog).addClass('alert-danger').text(errorMsg).show();
                    }
                }
            });
        });

        $('.btn-validate-modal', $userFormDialog).click(function (e) {
            e.preventDefault();
            $userForm.trigger('submit');
        });

        $('.trg-add-user').click(function (e) {
            e.preventDefault();

            $userFormDialog.data('type', 'add');
            $('.modal-title', $userFormDialog).text('<%- __('Add user') %>');
            $('.btn-validate-modal', $userFormDialog).text('<%- __('Save') %>');

            $userFormDialog.modal('show').draggable({
                handle: ".modal-header"
            });
        });

        $('.trg-edit-user').click(function(e) {
            e.preventDefault();

            var $this = $(this);
            var userId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/admin/user/get/'+userId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                        var user = data.user;
                        $userFormDialog.data('type', 'edit');
                        $('.modal-title', $userFormDialog).text('<%- __('Edit user') %>');
                        $('.btn-validate-modal', $userFormDialog).text('<%- __('Save') %>');

                        $userFormDialog.modal('show').draggable({
                            handle: ".modal-header"
                        });
                        $('#id', $userFormDialog).val(userId);
                        $('#email', $userFormDialog).val(user.email);
                        $('#firstname', $userFormDialog).val(user.firstname);
                        $('#lastname', $userFormDialog).val(user.lastname);
                        if (user.isAdmin) {
                            $('#isAdmin', $userFormDialog).prop('checked', true);
                        }
                    } else {
                        App3DPTools.errorFlash('#user-message-container', Locale3DPTools.__('Error while retrieving data for user %s.', userId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#user-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#user-message-container', errorMsg);
                }
            });
        });

        function deleteUser(userId) {
            $.ajax({
                type: "DELETE",
                url: '/admin/user/delete/'+userId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#user-message-container', data.message);
                        setTimeout(function() {
                            document.location = document.location;
                        }, 1500);
                    } else {
                        document.location = document.location;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#user-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#user-message-container', errorMsg);
                }
            });
        }

        $('.trg-delete-user').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var userId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/admin/user/get/'+userId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s user?', data.user.name), function () {
                            deleteUser(userId);
                        });
                    } else {
                        App3DPTools.errorFlash('#user-message-container', Locale3DPTools.__('Error while retrieving data for user %s.', userId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#user-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#user-message-container', errorMsg);
                }
            });
        });
    });
</script>