<tr<%- (isMaterialVariant)?' class="material-variant"':'' %>>
    <td colspan="2" class="material-header">
        <span class="material-name"><%- material.name %></span>
        <div class="pull-right">
            <div class="actions-block">
                <a href="/material/edit/<%- material.id || material._id %>"><i class="fa fa-pencil"></i>&nbsp;<%- __("edit") %></a>
                <% if (material.childCount) { %>
                <a href="#" onclick="return false;" class="disabled" data-toggle="tooltip" title="<%= __('A material with variant(s) can not be deleted.') %>"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %>
                <% } else { %>
                <a href="/material/delete/<%- material.id || material._id %>" data-id="<%- material.id || material._id %>"
                   class="trg-delete-material"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                <% } %>
                <a href="/material/add-file/<%- material.id || material._id %>"><i class="fa fa-paperclip"></i>&nbsp;<%- __("add a file") %></a>
            </div>
        </div>
    </td>
</tr>
<tr<%- (isMaterialVariant)?' class="material-variant"':'' %>>
    <td class="material-data">
        <div>
            <b><%- __('Density:') %></b>
            <%- __('%s kg/m³', material.density) %>
        </div>
        <% if (material.headTemp && (material.headTemp.min || material.headTemp.max)) { %>
        <div>
            <% temp = material.headTemp;
                iconClass = "rs rs-extruder"; %>
            <% include tempRange.ejs %>
        </div>
        <% } %>
        <% if (material.bedTemp && (material.bedTemp.min || material.bedTemp.max)) { %>
        <div>
            <% temp = material.bedTemp;
                iconClass = "rs rs-heated-bed"; %>
            <% include tempRange.ejs %>
        </div>
        <% } %>
        <% if (material.printingSpeed && (material.printingSpeed.min || material.printingSpeed.max)) { %>
        <div>
            <% if (material.printingSpeed.min && material.printingSpeed.max) { %>
            <i class="rs rs-speed"></i> <%- __('From %s mm/s to %s mm/s', material.printingSpeed.min, material.printingSpeed.max) %>
            <% } else { %>
            <% if (material.printingSpeed.min) { %>
            <i class="rs rs-speed"></i> <%- __('%s mm/s min', material.printingSpeed.min) %>
            <% } %>
            <% if (material.printingSpeed.max) { %>
            <i class="rs rs-speed"></i> <%- __('%s mm/s max', material.printingSpeed.max) %>
            <% } %>
            <% } %>
        </div>
        <% } %>
    </td>
    <td class="material-description">
        <% include files.ejs %>
        <% if (material.description) { %>
        <%- marked(material.description) %>
        <% } %>
    </td>
</tr>
