<% const materialId = material.id || material._id; %>
<tr<%- (isMaterialVariant)?' class="material-variant"':'' %> id="material-<%= materialId %>">
    <td colspan="2" class="material-header">
        <a href="#<%= materialId %>" class="material-name quicklink material-quicklink"><%= material.name %> <i class="quicklink-icon fa fa-link"></i></a>
        <div class="pull-right">
            <div class="actions-block">
                <a href="/material/edit/<%= materialId %>"><i class="fa fa-pencil"></i>&nbsp;<%- __("edit") %></a>
                <% if (material.childCount || material.filamentsCount) { %>
                <a href="#" onclick="return false;" class="disabled" data-toggle="tooltip" title="<%= __('A material with variant(s) or used by filament(s) can not be deleted.') %>"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %>
                <% } else { %>
                <a href="/material/delete/<%= materialId %>" data-id="<%= materialId %>"
                   class="trg-delete-material"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                <% } %>
                <a href="/material/add-file/<%= materialId %>"><i class="fa fa-paperclip"></i>&nbsp;<%- __("add a file") %></a>
            </div>
        </div>
    </td>
</tr>
<tr<%- (isMaterialVariant)?' class="material-variant"':'' %>>
    <td class="material-data">
        <% if (material.filamentsCount > 0) { %>
        <div>
            <b><%- __('Filaments:') %></b>
            <a href="/filament?finished=all&material=<%- material._id%>"><%- material.filamentsCount %></a>
        </div>
        <% } %>
        <div>
            <b><%- __('Density:') %></b>
            <%- __('%s kg/m³', material.density) %>
        </div>
        <% if (material.headTemp && (material.headTemp.min || material.headTemp.max)) { %>
        <div>
            <%- include('tempRange.ejs', {temp: material.headTemp, iconClass: "rs rs-extruder"}) %>
        </div>
        <% } %>
        <% if (material.bedTemp && (material.bedTemp.min || material.bedTemp.max)) { %>
        <div>
            <%- include('tempRange.ejs', {temp: material.bedTemp, iconClass: "rs rs-heated-bed"}) %>
        </div>
        <% } %>
        <% if (material.printingSpeed && (material.printingSpeed.min || material.printingSpeed.max)) { %>
        <div>
            <% if (material.printingSpeed.min && material.printingSpeed.max) { %>
            <i class="rs rs-speed"></i> <%- __('From %s mm/s to %s mm/s', material.printingSpeed.min, material.printingSpeed.max) %>
            <% } else { %>
            <% if (material.printingSpeed.min) { %>
            <i class="rs rs-speed"></i> <%- __('%s mm/s min', material.printingSpeed.min) %>
            <% } %>
            <% if (material.printingSpeed.max) { %>
            <i class="rs rs-speed"></i> <%- __('%s mm/s max', material.printingSpeed.max) %>
            <% } %>
            <% } %>
        </div>
        <% } %>
    </td>
    <td class="material-description">
        <%- include('files.ejs', {material}) %>
        <% if (material.description) { %>
        <%- marked(material.description) %>
        <% } %>
    </td>
</tr>
