<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- __('Setup') %></title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/flag-icon.min.css">
    <%- style %>
    <script src="/jquery.min.js"></script>
    <script src="/jquery-ui.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/app.js"></script>

</head>
<body class="setup-section">
<h1><%- __('Setup') %></h1>

<div class="container">
    <%- body %>
</div>
<%- script %>
</body>
</html>
