<link rel="stylesheet" href="/vendor/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="/vendor/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/vendor/css/bootstrap-datepicker3.min.css">
<script src="/vendor/javascripts/marked.min.js"></script>
<script src="/vendor/js/bootstrap-colorpicker.min.js"></script>
<script src="/vendor/js/bootstrap-select.min.js"></script>
<script src="/vendor/js/bootstrap-datepicker.min.js"></script>
<script src="/vendor/locales/bootstrap-datepicker.<%- getLocale() %>.min.js"></script>

<h1><span class="fa-overlay">
    <i class="rs rs-filament"></i>
    <i class="fa fa-plus fa-overlay-se" style="color:white"></i>
    <i class="fa fa-plus-circle fa-overlay-se text-success"></i>
</span> <%- __('Add filament') %></h1>

<form class="form-filament" method="POST">
    <fieldset>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group<%= (errors.name)?" has-error":"" %>">
                    <label for="name" class="control-label required"><%- __('Name:'); %></label>
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="<%- __('Name'); %>" value="<%- (locals.name) ? name : '' %>"
                           required autofocus>
                    <% if (errors.name) { %>
                    <ul class="help-block with-errors">
                        <% errors.name.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group<%= (errors.brand) ? " has-error" : "" %>">
                    <label for="brand" class="control-label required"><%- __('Brand:'); %></label>
                    <select class="form-control selectpicker" id="brand" name="brand" required>
                        <% if (locals.brands && brands.length) { selected = (locals.brand) ? brand : ''; %>
                        <% brands.forEach(function (brand) { %>
                        <option value="<%- brand.id %>"
                                data-content="<img class='brand-logo' src='/brand/get-logo/<%- brand.id %>'></img> <%- brand.name %> "
                                <% if (brand.id == selected) { %>
                                selected
                                <% } %>
                        ><%- brand.name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                    <% if (errors.brand) { %>
                    <ul class="help-block with-errors">
                        <% errors.brand.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group<%= (errors.material) ? " has-error" : "" %>">
                    <label for="material" class="control-label required"><%- __('Material:'); %></label>
                    <select class="form-control" id="material" name="material" required>
                        <% if (locals.materials && materials.length) { selected = (locals.material) ? material : ''; %>
                        <% materials.forEach(function (material) { %>
                        <option value="<%- material.id %>"
                                <% if (material.id == selected) { %>
                                selected
                                <% } %>
                        ><%- material.name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                    <% if (errors.material) { %>
                    <ul class="help-block with-errors">
                        <% errors.material.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group<%= (errors.diameter) ? " has-error" : "" %>">
                    <label for="diameter" class="control-label required"><%- __('Diameter:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="diameter" name="diameter"
                               placeholder="<%- __('Diameter'); %>" value="<%- (locals.diameter) ? diameter : '' %>"
                               required>
                        <div class="input-group-addon"><%- __('mm'); %></div>
                    </div>
                    <% if (errors.diameter) { %>
                    <ul class="help-block with-errors">
                        <% errors.diameter.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-7">
                <label for="colorN" class="control-label required"><%- __('Color:'); %></label>
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-group btn-block">
                            <button type="button" class="btn btn-default btn-block dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><%- __('Available colors') %> <span
                                        class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row" style="width: 400px;">
                                        <% if (Object.keys(predefinedColors).length) { %>
                                        <ul class="dropdown-menu-col list-unstyled col-md-6">
                                        <li class="dropdown-header"><%- __('Preset colors') %></li>
                                        <% for (var color in predefinedColors) { %>
                                        <li><a href="#" class="trg-color-select" data-code="<%- predefinedColors[color] %>"
                                               data-name="<%- __(color) %>">
                                                <div class="color-preview-container"><i class="color-preview"
                                                   style="background-color: <%- predefinedColors[color] %>;"></i></div>&nbsp;<%- __(color) %>
                                            </a></li>
                                        <% } %>
                                        </ul>
                                        <% } %>
                                        <% if (Object.keys(usedColors).length) { %>
                                        <ul class="dropdown-menu-col list-unstyled col-md-6">
                                        <li class="dropdown-header"><%- __('Already used colors') %></li>
                                        <% for (var color in usedColors) { %>
                                        <li><a href="#" class="trg-color-select" data-code="<%- usedColors[color] %>"
                                               data-name="<%- __(color) %>">
                                                <div class="color-preview-container"><i class="color-preview"
                                                   style="background-color: <%- usedColors[color] %>;"></i></div>&nbsp;<%- __(color) %>
                                            </a></li>
                                        <% } %>
                                        </ul>
                                        <% } %>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group<%= (errors.colorName) ? " has-error" : "" %>">
                            <input type="text" class="form-control" id="colorName" name="colorName"
                                   placeholder="<%- __('Name'); %>" value="<%- (locals.colorName) ? colorName : '' %>"
                                   required>
                            <% if (errors.colorName) { %>
                            <ul class="help-block with-errors">
                                <% errors.colorName.forEach(function(msg) { %>
                                <li><%= __(msg) %></li>
                                <% }); %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group<%= (errors.colorCode) ? " has-error" : "" %>">
                            <div class="input-group color-picker">
                                <input type="text" class="form-control" id="colorCode" name="colorCode"
                                       placeholder="<%- __('Code'); %>"
                                       value="<%- (locals.colorCode) ? colorCode : '' %>"
                                       required>
                                <span class="input-group-addon"><div class="color-preview-container"><i class="color-preview"></i></div></span>
                            </div>
                            <% if (errors.colorCode) { %>
                            <ul class="help-block with-errors">
                                <% errors.colorCode.forEach(function(msg) { %>
                                <li><%= __(msg) %></li>
                                <% }); %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group<%= (errors.description) ? " has-error" : "" %>">
                    <label for="description" class="control-label"><%- __('Description:'); %></label>
                    <textarea rows="5" class="form-control" id="description" name="description"
                              placeholder="<%- __('Description'); %>"><%- (locals.description) ? description : '' %></textarea>
                    <% if (errors.description) { %>
                    <ul class="help-block with-errors">
                        <% errors.description.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
            <div class="col-md-6">
                <label for="description" class="control-label"><%- __('Description preview:'); %></label>
                <div id="description-preview" class="description-preview markdown"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group<%= (errors.buyDate) ? " has-error" : "" %>">
                    <label for="buyDateText" class="control-label required"><%- __('Purchase date:'); %></label>
                    <div class="input-group date">
                        <input type="text" class="form-control datepicker" id="buyDateText" name="buyDateText"
                               value=""
                               required>
                        <input type="hidden" name="buyDate" id="buyDate" value="<%- (locals.buyDate) ? buyDate : '' %>">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <% if (errors.buyDate) { %>
                    <ul class="help-block with-errors">
                        <% errors.buyDate.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group<%= (errors.shop) ? " has-error" : "" %>">
                    <label for="shop" class="control-label required"><%- __('Shop:'); %></label>
                    <select class="form-control selectpicker" id="shop" name="shop" required>
                        <% if (locals.shops && shops.length) { selected = (locals.shop) ? shop : ''; %>
                        <% shops.forEach(function (shop) { %>
                        <option value="<%- shop.id %>"
                                data-content="<img class='shop-logo' src='/shop/get-logo/<%- shop.id %>'></img> <%- shop.name %> "
                                <% if (shop.id == selected) { %>
                                selected
                                <% } %>
                        ><%- shop.name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                    <% if (errors.shop) { %>
                    <ul class="help-block with-errors">
                        <% errors.shop.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group<%= (errors.price) ? " has-error" : "" %>">
                    <label for="price" class="control-label required"><%- __('Price:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="price"
                               name="price" value="<%- (locals.price) ? price : '' %>" required>
                        <div class="input-group-addon"><%- __('€ VAT'); %></div>
                    </div>
                    <% if (errors.price) { %>
                    <ul class="help-block with-errors">
                        <% errors.price.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label class="control-label"><i
                            class="rs rs-extruder"></i>&nbsp;<%- __('Extrusion temperature:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-4 form-group<%= (errors.headTempMin) ? " has-error" : "" %>">
                        <label for="headTempMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="headTempMin"
                                        data-temp-type="headTemp" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="headTempMin"
                                   name="headTempMin"
                                   value="<%- (locals.headTempMin) ? headTempMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.headTempMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.headTempMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-4 form-group<%= (errors.headTempMax) ? " has-error" : "" %>">
                        <label for="headTempMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="headTempMax"
                                        data-temp-type="headTemp" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="headTempMax"
                                   name="headTempMax"
                                   value="<%- (locals.headTempMax) ? headTempMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.headTempMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.headTempMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-4 form-group<%= (errors.headTempExperienced) ? " has-error" : "" %>">
                        <label for="headTempExperienced" class="control-label"><%- __('Experienced:'); %></label>
                        <div class="input-group">
                            <input type="number" class="form-control input-temperature" id="headTempExperienced"
                                   name="headTempExperienced"
                                   value="<%- (locals.headTempExperienced) ? headTempExperienced : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.headTempExperienced) { %>
                        <ul class="help-block with-errors">
                            <% errors.headTempExperienced.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <label class="control-label"><i
                            class="rs rs-heated-bed"></i>&nbsp;<%- __('Bed temperature:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-4 form-group<%= (errors.bedTempMin) ? " has-error" : "" %>">
                        <label for="bedTempMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="bedTempMin"
                                        data-temp-type="bedTemp" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="bedTempMin"
                                   name="bedTempMin"
                                   value="<%- (locals.bedTempMin) ? bedTempMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.bedTempMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.bedTempMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-4 form-group<%= (errors.bedTempMax) ? " has-error" : "" %>">
                        <label for="bedTempMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="bedTempMax"
                                        data-temp-type="bedTemp" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-temperature" id="bedTempMax"
                                   name="bedTempMax"
                                   value="<%- (locals.bedTempMax) ? bedTempMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.bedTempMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.bedTempMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-4 form-group<%= (errors.bedTempExperienced) ? " has-error" : "" %>">
                        <label for="bedTempExperienced" class="control-label"><%- __('Experienced:'); %></label>
                        <div class="input-group">
                            <input type="number" class="form-control input-temperature" id="bedTempExperienced"
                                   name="bedTempExperienced"
                                   value="<%- (locals.bedTempExperienced) ? bedTempExperienced : '' %>" min="0">
                            <div class="input-group-addon"><%- __('°C'); %></div>
                        </div>
                        <% if (errors.bedTempExperienced) { %>
                        <ul class="help-block with-errors">
                            <% errors.bedTempExperienced.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="control-label"><i
                            class="rs rs-speed"></i>&nbsp;<%- __('Printing speed:'); %></label>
                <div class="row form-inline">
                    <div class="col-md-6 form-group<%= (errors.printingSpeedMin) ? " has-error" : "" %>">
                        <label for="printingSpeedMin" class="control-label"><%- __('Min:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="printingSpeedMin"
                                        data-temp-type="printingSpeed" , data-temp-field="min"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-speed" id="printingSpeedMin"
                                   name="printingSpeedMin"
                                   value="<%- (locals.printingSpeedMin) ? printingSpeedMin : '' %>" min="0">
                            <div class="input-group-addon"><%- __('mm/s'); %></div>
                        </div>
                        <% if (errors.printingSpeedMin) { %>
                        <ul class="help-block with-errors">
                            <% errors.printingSpeedMin.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                    <div class="col-md-6 form-group<%= (errors.printingSpeedMax) ? " has-error" : "" %>">
                        <label for="printingSpeedMax" class="control-label"><%- __('Max:'); %></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-temp-from-material" data-temp-id="printingSpeedMax"
                                        data-temp-type="printingSpeed" , data-temp-field="max"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                            <input type="number" class="form-control input-speed" id="printingSpeedMax"
                                   name="printingSpeedMax"
                                   value="<%- (locals.printingSpeedMax) ? printingSpeedMax : '' %>" min="0">
                            <div class="input-group-addon"><%- __('mm/s'); %></div>
                        </div>
                        <% if (errors.printingSpeedMax) { %>
                        <ul class="help-block with-errors">
                            <% errors.printingSpeedMax.forEach(function(msg) { %>
                            <li><%= __(msg) %></li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <div class="form-group<%= (errors.density) ? " has-error" : "" %>">
                    <br/>
                    <label for="density" class="control-label required"><%- __('Density:'); %></label>
                    <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-info trg-get-density-from-material" data-density-id="density"
                                        title="<%- __('Get from material') %>" type="button"><i class="fa fa-leaf"></i>
                                </button>
                            </span>
                        <input type="number" class="form-control" id="density"
                               name="density"
                               value="<%- (locals.density) ? density : '' %>" required min="0" step="1">
                        <div class="input-group-addon"><%- __('kg/m³'); %></div>
                    </div>
                    <% if (errors.density) { %>
                    <ul class="help-block with-errors">
                        <% errors.density.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <div class="form-group<%= (errors.flowPercentage) ? " has-error" : "" %>">
                    <br/>
                    <label for="flowPercentage" class="control-label"><%- __('Flow:'); %></label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="flowPercentage"
                               name="flowPercentage"
                               value="<%- (locals.flowPercentage) ? flowPercentage : '' %>" min="0">
                        <div class="input-group-addon"><%- __('%'); %></div>
                    </div>
                    <% if (errors.flowPercentage) { %>
                    <ul class="help-block with-errors">
                        <% errors.flowPercentage.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group<%= (errors.initialMaterialWeight) ? " has-error" : "" %>">
                    <label for="initialMaterialWeight"
                           class="control-label required"><%- __('Initial net material weight:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="initialMaterialWeight"
                               name="initialMaterialWeight"
                               value="<%- (locals.initialMaterialWeight) ? initialMaterialWeight : '' %>" required>
                        <div class="input-group-addon"><%- __('kg'); %></div>
                    </div>
                    <% if (errors.initialMaterialWeight) { %>
                    <ul class="help-block with-errors">
                        <% errors.initialMaterialWeight.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-3">
                <div class="form-group<%= (errors.initialTotalWeight) ? " has-error" : "" %>">
                    <label for="initialTotalWeight" class="control-label required"
                           title="<% __('Including spool weight, if any') %>"><%- __('Initial total weight:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="initialTotalWeight"
                               name="initialTotalWeight"
                               value="<%- (locals.initialTotalWeight) ? initialTotalWeight : '' %>" required>
                        <div class="input-group-addon"><%- __('kg'); %></div>
                    </div>
                    <% if (errors.initialTotalWeight) { %>
                    <ul class="help-block with-errors">
                        <% errors.initialTotalWeight.forEach(function(msg) { %>
                        <li><%= __(msg) %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
            </div>

        </div>
        <p class="button-bar">
            <a href="<%- cancelUrl %>" class="btn btn-default"><%- __('Cancel') %></a>
            <button type="submit" class="btn btn-primary"><%- __('Save') %></button>
        </p>
    </fieldset>
</form>

<script type="text/javascript">
    var materialData = <%- JSON.stringify(materials) %>;
    $(function () {
        $('.selectpicker').selectpicker();

        $('.datepicker').datepicker({
            language: '<%- getLocale() %>',
            autoclose: true,
            clearBtn: true,
            todayHighlight: true
        });
        if ($('#buyDate').val()) {
            $('#buyDateText').datepicker('setUTCDate', new Date($('#buyDate').val() * 1000));
        }
        $('#buyDateText').on('changeDate', function () {
            var $this = $(this);
            $('#buyDate').val($this.datepicker('getUTCDate').getTime() / 1000);
        });

        $('textarea#description').keyup(function () {
            var $this = $(this);
            var $preview = $('#description-preview');
            if (!$preview.length) {
                return;
            }
            $preview.html(marked($this.val()));
        }).trigger('keyup');

        $('.color-picker').colorpicker();
        $('.trg-color-select').click(function (e) {
            var $this = $(this);

            e.preventDefault();

            var name = $this.data('name');
            var code = $this.data('code');
            if (name && code) {
                $('#colorName').val(name);
                var parsedColor = App3DPTools.colorParse(code);
                var oldFormat = false;
                if (parsedColor && parsedColor.format) {
                    oldFormat = $('.color-picker').data('colorpicker').format;
                    $('.color-picker').data('colorpicker').format = parsedColor.format;
                }
                $('.color-picker').colorpicker('setValue', code);
                if (parsedColor && parsedColor.format) {
                    $('.color-picker').data('colorpicker').format = oldFormat;
                }
            }
        });

        $('.trg-get-temp-from-material').click(function () {
            var $this = $(this);
            var input = $('#' + $this.data('temp-id'));
            var tempType = $this.data('temp-type');
            var tempField = $this.data('temp-field');

            if (!input.length || !tempType || !tempField) {
                return;
            }
            var selectedMaterialId = $('#material').val();

            if (materialData.length) {
                materialData.forEach(function (material) {
                    if (material._id == selectedMaterialId) {
                        if (material[tempType] && material[tempType][tempField]) {
                            input.val(material[tempType][tempField]);
                        } else {
                            input.val('');
                        }
                    }
                });
            }
        });

        $('.trg-get-density-from-material').click(function () {
            var $this = $(this);
            var input = $('#' + $this.data('density-id'));

            if (!input.length) {
                return;
            }
            var selectedMaterialId = $('#material').val();

            if (materialData.length) {
                materialData.forEach(function (material) {
                    if (material._id == selectedMaterialId) {
                        if (material.density) {
                            input.val(material.density);
                        } else {
                            input.val('');
                        }
                    }
                });
            }
        });
    });
</script>