<link rel="stylesheet" href="/vendor/css/bootstrap-select.min.css">
<script src="/vendor/js/bootstrap-select.min.js"></script>
<script src="/vendor/javascripts/moment.min.js"></script>
<script src="/vendor/locales/fr.js"></script>

<h1><i class="fa fa-calculator"></i> <%- __('Cost calculator') %></h1>

<% if (filaments && filaments.length) { %>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default filaments-list-container">
            <div class="panel-heading with-button">
                <h3 class="panel-title" id="search-result-title"><%= __n("%s filament", "%s filaments", filaments.length || 0); %></h3>
            </div>

            <form id="filament-search" method="GET" class="panel-body form-inline" style="padding: 8px;">
                <button id="clear-search" class="btn btn-danger pull-right" style="display:none;"><i class="fa fa-eraser"></i>&nbsp;<%- __('Clear search') %></button>
                <select class="form-control selectpicker" id="color" name="color" data-width="60px" title="<%- __('Color'); %>">
                    <% if (locals.colors && colors.length) { selected = (locals.search && search.color) ? search.color : ''; %>
                    <optgroup label="">
                        <% for (let color of colors) { %>
                        <% if (color === false) {%>
                    </optgroup><optgroup label="">
                        <% } else {%>
                        <option value="<%- color.code %>"
                                <% if (color.code) { %>
                                data-content="<div class='color-preview-container'><i class='color-preview' style='background-color: <%- color.code %>;'></i></div> <span class='name'><%- __(color.name) %></span>"
                                <% } else { %>
                                data-content="<span class='name'><%- __(color.name) %></span>"
                                <% } %>
                                <% if (color.code == selected) { %>
                                selected
                                <% } %>
                        ><%- __(color.name) %></option>
                        <% } %>
                        <% } %>
                        <% } %>
                    </optgroup>
                </select>

                <span style="margin-right: 10px;">
                    <select class="form-control selectpicker" id="material" name="material" data-width="220px"  title="<%- __('Material'); %>">
                        <% if (locals.materials && materials.length) { %>
                        <% selected = (locals.search && locals.search.material) ? search.material : ''; %>
                        <% for (let material of materials) { %>
                        <option value="<%- material._id %>"
                                <% if (material._id == selected) { %>
                                selected
                                <% } %>
                                title="<%- material.name %>"><%- material.name %></option>
                        <% if (material.variants && material.variants.length) { %>
                        <% for (let variant of material.variants) { %>
                        <option value="<%- variant._id %>"
                                <% if (variant._id == selected) { %>
                                selected
                                <% } %>
                                title="<%- variant.name %>">&nbsp;&nbsp;&nbsp;<%- variant.name %></option>
                        <% } %>
                        <% } %>
                        <% } %>
                        <% } %>
                    </select>
                    <span class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default<%= (locals.search && locals.search.materialVariants && search.materialVariants)?' active':'' %>" title="<%= __('Include variants') %>">
                            <input type="checkbox" name="materialVariants" autocomplete="off" <%= (locals.search && locals.search.materialVariants && search.materialVariants)?' checked':'' %>><i class="fa fa-sitemap"></i>
                        </label>
                    </span>
                </span>

                <select class="form-control selectpicker" id="brand" name="brand" data-width="120px" title="<%- __('Brand'); %>">
                    <% if (locals.brands && brands.length) { selected = (locals.search && locals.search.brand) ? search.brand : ''; %>
                    <% brands.forEach(function (brand) { %>
                    <option value="<%- brand.id %>"
                            <% if (brand.logo) { %>
                            data-content="<img class='brand-logo' src='/brand/get-logo/<%- brand.id %>' title='<%- brand.name %>'></img> <span class='name logo-name'><%- brand.name %></span>"
                            <% } else { %>
                            data-content="<%- brand.name %> "
                            <% } %>
                            <% if (brand.id == selected) { %>
                            selected
                            <% } %>
                    ><%- brand.name %></option>
                    <% }); %>
                    <% } %>
                </select>
            </form>

            <div id="cost-calculator-message-container"></div>

            <div class="filament-list-static-container">
                <table id="filament-list" class="table filament-list cost-calculator">
                    <%- include partial/cost-calculator-filament-list.ejs %>
                </table>
            </div>
        </div>
    </div>


    <div id="compute-form" class="col-md-6" style="display:none;">
        <table class="table filament-list filament-details">
            <tr>
                <td>
                    <div class="color-preview-container large">
                        <div title="" data-toggle="tooltip" data-placement="top" class="color-preview">
                        </div>
                    </div>
                </td>
                <td>
                    <span class="filament-material-name"></span>
                    <br/>
                    <i class="p3di p3di-weight"></i>
                    <span class="filament-weight"></span>
                </td>
                <td>
                    <b>∅</b> <span class="filament-diameter-value"></span>
                    <br/>
                    <span class="filament-density"></span>
                </td>
                <td class="filament-brand-logo">
                </td>
            </tr>
            <tr>
                <td class="shop-data filament-shop-logo" colspan="2">
                </td>
                <td colspan="2">
                    <b><%- __('Purchased on:') %></b> <span class="filament-buy-date"></span>
                    <br/>
                    <b><%- __('Price:') %></b> <span class="filament-price"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="progress">
                        <div title="" class="progress-bar"
                             role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                        <div class="progress-text">
                        </div>
                    </div>
                    <div class="filament-left-data"></div>
                </td>
            </tr>

        </table>

        <hr/>

        <form class="form-filament">
            <fieldset>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="weight"
                                   class="control-label"><i class="p3di p3di-weight"></i> <%- __('Weight:'); %></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="weight"
                                       name="weight">
                                <div class="input-group-addon">
                                    <label for="weight-unit-g"><input type="radio" name="weighUnit" value="g" id="weight-unit-g" <%- (locals.weighUnit) ? (weighUnit=='g'?'checked':'') : 'checked' %>> <%- __('g'); %></label>
                                    /
                                    <label for="weight-unit-kg"><input type="radio" name="weighUnit" value="kg" id="weight-unit-kg" <%- (locals.weighUnit) ? (weighUnit=='kg'?'checked':'') : '' %>> <%- __('Kg'); %></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 form-horizontal-alternative-or">
                        <div style="margin-top: 30px;"><%- __('or') %></div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="length"
                                   class="control-label"><i class="p3di p3di-ruler"></i> <%- __('Length:'); %></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="length"
                                       name="length">
                                <div class="input-group-addon"><%- __('m'); %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="row" id="computed-filament-results">
            <div class="col-md-4"><i class="p3di p3di-weight"></i> <span id="computed-filament-weight"></span></div>
            <div class="col-md-4"><i class="p3di p3di-ruler"></i> <span id="computed-filament-length"></span></div>
            <div class="col-md-4"><i class="fa fa-money"></i> <span id="computed-filament-cost"></span></div>
        </div>

        </div>
    </div>
</div>
<% } else { %>
<center>
<%- __('No filament found.') %><br><br>
<% include ../partial/addFilamentButton.ejs %>
</center>
<% } %>

<script type="text/javascript">
function filamentComputeCostOnChange() {
    var filamentId = $('.filament-details').data('id');
    $.ajax({
        method: 'POST',
        url: '/filament/cost-calculator/'+filamentId,
        data: $('form.form-filament').serialize(),
        success: function(data) {
            if ((typeof data.weight !== "undefined" && data.weight !== null)
            || (typeof data.length !== "undefined" && data.length !== null)
            || (typeof data.cost !== "undefined" && data.cost !== null)) {
                if (typeof data.weight !== "undefined" && data.weight !== null) {
                    $('#computed-filament-weight').text(Locale3DPTools.__('%.3f Kg', data.weight))
                }
                if (typeof data.length !== "undefined" && data.length !== null) {
                    $('#computed-filament-length').text(Locale3DPTools.__('%.3f m', data.length))
                }
                if (typeof data.cost !== "undefined" && data.cost !== null) {
                    $('#computed-filament-cost').text(Locale3DPTools.__('%.3f €', data.cost))
                }
                $('#computed-filament-results').show();
            } else {
                $('#computed-filament-results').hide();
            }
        }
    });
}

function updateCancelSearchButtonVisibility() {
    let allFieldEmpty = true;
    $(':input', 'form#filament-search').each(function() {
        if (this.type !== "checkbox" && $(this).val() !== '') {
            allFieldEmpty = false;
        }
    });

    if (allFieldEmpty) {
        $('#clear-search').hide();
    } else {
        $('#clear-search').show();
    }
}

function scrollToHash() {
    if (window.location.hash) {
        var $item = $('.filament-item#filament-'+window.location.hash.replace(/^#/, ''));
        if ($item.length) {
            $item.trigger('click');
            $('.filament-list-static-container').scrollTop($item.position().top - $item.height() - 30);
        }
    }
}

$(function() {
    $('[data-toggle="tooltip"]').tooltip({html:true})
    $('.selectpicker').selectpicker();

    updateCancelSearchButtonVisibility();

    $('form#filament-search').on('change', 'input, select', function() {
        // If selectpicker and empty, set selectpicker to none selected mode
        let $this = $(this);
        if ($this.hasClass('selectpicker')) {
            if ($this.val() === '') {
                $this.val('');
                $this.selectpicker('render');
            }
        }

        $('form#filament-search').submit();
    }).on('submit', function() {
        let filterForm = $(this);

        // Disable/read only all field of the form
        $('.form-control:input', filterForm).each(function() {
            let $input = $(this);

            let value = $input.val();
            if (!value || value === '') {
                $input.prop('disabled', true);
            }

        });
        $(':input', filterForm).prop('readonly', true);
        $('button', filterForm).prop('disabled', true);
        $('#clear-search').prop('disabled', true);

        App3DPTools.showLoaderOverlay($('#filament-list').parent().first());
        $.ajax({
            method: 'GET',
            url: '/filament/cost-calculator/search?'+$(this).serialize(),
            success: function(data) {
                $('table#filament-list>tbody').html(data.html);
                $('#search-result-title').html(data.resultTitle);
                scrollToHash();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.responseJSON) {
                    let data = jqXHR.responseJSON;
                    if (data.message) {
                        App3DPTools.errorFlash('#cost-calculator-message-container', data.message, 0);
                        return;
                    }
                }
                App3DPTools.errorFlash('#cost-calculator-message-container', errorThrown, 0);
            },
            complete: function() {
                // Enable all fields of the form
                $('.form-control:input', filterForm).each(function() {
                    let $input = $(this);

                    let value = $input.val();
                    if (!value || value === '') {
                        $input.prop('disabled', false);
                    }

                });
                $(':input', filterForm).prop('readonly', false);
                $('button', filterForm).prop('disabled', false);
                $('#clear-search').prop('disabled', false);

                // Update 'cancel search' button visibility
                updateCancelSearchButtonVisibility();

                App3DPTools.hideLoaderOverlay($('#filament-list').parent().first());
            }
        });

        return false;
    });

    $('#clear-search').click(function(e) {
        e.preventDefault();
        $(':input', 'form#filament-search')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .removeAttr('checked')
            .removeAttr('selected');
        $('.selectpicker', 'form#filament-search').selectpicker('render');
        $('form#filament-search').submit();
    });

    $('form.form-filament').submit(function(e) {
        e.preventDefault();
        filamentComputeCostOnChange();
        return false;
    });

    $('#length').keyup(function(e) {
        $('#weight').val('');
        filamentComputeCostOnChange();
    });
    $('#weight').keyup(function(e) {
        $('#length').val('');
        filamentComputeCostOnChange();
    });
    $('input[name=weighUnit]').change(function(e) {
        $('#length').val('');
        filamentComputeCostOnChange();
    });

    $('.filament-list-static-container').height('calc(100vh - ' + ($('.filament-list-static-container').offset().top + 30) + 'px)')

    $(document).on('click', '.filament-item', function(e) {
        e.preventDefault();

        var $this = $(this);

        $('.filament-item.selected').removeClass('selected');
        $this.addClass('selected');

        var $filamentDetails = $('.filament-details');
        var filament = $this.data('filament');

        if (!filament) {
            return;
        }

        $filamentDetails.data('id', filament._id);

        $filamentDetails.find('.color-preview').tooltip('destroy').attr('title', filament.color.name.replace(" ", "&nbsp;")).css('background-color', filament.color.code)
            .tooltip({html:true});
        $filamentDetails.find('.filament-material-name').text(filament.material.name);
        $filamentDetails.find('.filament-weight').text(Locale3DPTools.__('%s kg', filament.initialMaterialWeight));
        $filamentDetails.find('.filament-diameter-value').text(filament.diameter);
        $filamentDetails.find('.filament-density').text(Locale3DPTools.__('%s kg/m³', filament.density));

        if (filament.brand.logo && filament.brand.logo.size) {
            $filamentDetails.find('.filament-brand-logo').html('<img alt="'+filament.brand.name+'" title="'+filament.brand.name+'" class="brand-logo" src="/brand/get-logo/'+filament.brand.id+'">');
        } else {
            $filamentDetails.find('.filament-brand-logo').text(filament.brand.name);
        }

        var progress = $filamentDetails.find('.progress');
        if (progress) {
            var progressbarClass = 'progress-bar-success';
            if (filament.materialLeftPercentage <= <%- config.get('filament:leftThresholds:warning') %>) {
                progressbarClass = 'progress-bar-warning'
            }
            if (filament.materialLeftPercentage <= <%- config.get('filament:leftThresholds:danger') %>) {
                progressbarClass = 'progress-bar-danger'
            }

            progress.find('.progress-bar')
                    .width(filament.materialLeftPercentage+'%')
                    .removeClass('progress-bar-success')
                    .removeClass('progress-bar-warning')
                    .removeClass('progress-bar-danger')
                    .addClass(progressbarClass);
            if (filament.materialLeftPercentage > 50) {
                progress.find('.progress-bar').text(sprintf('%.2f%%', filament.materialLeftPercentage));
                progress.find('.progress-text').text('');
            } else {
                progress.find('.progress-bar').text('');
                progress.find('.progress-text').text(sprintf('%.2f%%', filament.materialLeftPercentage)).css({ paddingLeft: filament.materialLeftPercentage+'%'});
            }
            progress.show();
        } else if (progress) {
            progress.hide();
        }
        $filamentDetails.find('.filament-left-data').text(Locale3DPTools.__('~ %.2f Kg / ~ %.2f m', $this.data('left-weight'), $this.data('left-length')));

        if (filament.shop.url) {
            $filamentDetails.find('.filament-shop-logo').html('<img alt="'+filament.shop.name+'" title="'+filament.shop.name+'" class="brand-logo" src="/shop/get-logo/'+filament.shop.id+'">');
        } else {
            $filamentDetails.find('.filament-shop-logo').text(filament.shop.name);
        }

        $filamentDetails.find('.filament-buy-date').text(moment(filament.buyDate).format('LL'));
        $filamentDetails.find('.filament-price').text(Locale3DPTools.__('%.2f € TTC', filament.price));

        $('#compute-form').show();

        var $lengthInput = $('#length');
        var $weightInput = $('#weight');
        if (($weightInput.val() != '') && ($lengthInput.val() == '')) {
            $weightInput.focus();
        } else {
            $lengthInput.focus();
        }

        window.location.hash = filament._id;

        $('form.form-filament').trigger('submit');
    })

    scrollToHash();
});
</script>