<link rel="stylesheet" href="/vendor/css/bootstrap-select.min.css">
<script src="/vendor/js/bootstrap-select.min.js"></script>

<ul class="nav nav-tabs nav-tabs-title">
    <li role="presentation" class="active"><h1><i class="rs rs-filament"></i>&nbsp;<%- __('Filaments') %></h1></li>
    <% if (filaments && filaments.length) { %>
    <li role="presentation"><a href="/filament/stats"><i class="fa fa-pie-chart"></i> <%- __('Statistics') %></a></li>
    <% } %>
    <% if (filamentCount) { %>
    <div class="pull-right">
        <a href="/filament/cost-calculator" class="btn btn-default"><i class="fa fa-calculator"></i> <%- __('Cost calculator'); %></a>
    </div>
    <% } %>
</ul>

<div class="panel panel-default filament-list">
    <div class="panel-heading with-button">
        <% if (materialCount && brandCount && shopCount) { %>
        <a href="/filament/add" class="btn btn-primary trg-add-filament"><i
                    class="fa fa-plus"></i>&nbsp;<%- __('Add filament') %></a>
        <% } %>
        <% if (locals.search && search != {}) { %>
            <a href="#" id="clear-search" class="btn btn-danger"><i
                        class="fa fa-eraser"></i>&nbsp;<%- __('Clear search') %></a>
        <% } %>
        <% if (locals.filaments && filamentCount) { %>
        <h3 class="panel-title"><%- __n("%s filament", "%s filaments", filaments.length || 0); %></h3>
        <% } else { %>
        <%- __('No filament found.') %>
        <% } %>
    </div>
    <form id="filament-search" method="GET" class="form-inline">
    <table class="table table-hover filament-list">
        <thead>
        <tr class="filter-row">
            <th>
                <% if (locals.colors && colors.length) { selected = (locals.search && search.color) ? search.color : ''; %>
                <select class="form-control selectpicker" id="color" name="color" data-width="60px" title="<%- __('Color'); %>">
                    <optgroup label="">
                    <% for (let color of colors) { %>
                        <% if (color === false) {%>
                    </optgroup><optgroup label="">
                        <% } else {%>
                        <option value="<%- color.code %>"
                                <% if (color.code) { %>
                                data-content="<div class='color-preview-container'><i class='color-preview' style='background-color: <%- color.code %>;'></i></div> <span class='name'><%- __(color.name) %></span>"
                                <% } else { %>
                                data-content="<span class='name'><%- __(color.name) %></span>"
                                <% } %>
                                <% if (color.code == selected) { %>
                                selected
                                <% } %>
                        ><%- __(color.name) %></option>
                        <% } %>
                    <% } %>
                    </optgroup>
                </select>
                <% } %>
            </th>
            <th colspan="4">
                <select class="form-control selectpicker" id="material" name="material" data-width="250px"  title="<%- __('Material'); %>">
                    <% if (locals.materials && materials.length) { %>
                    <% selected = (locals.search && locals.search.material) ? search.material : ''; %>
                    <% for (let material of materials) { %>
                    <option value="<%- material._id %>"
                            <% if (material._id == selected) { %>
                            selected
                            <% } %>
                    title="<%- material.name %>"><%- material.name %></option>
                        <% if (material.variants && material.variants.length) { %>
                        <% for (let variant of material.variants) { %>
                        <option value="<%- variant._id %>"
                            <% if (variant._id == selected) { %>
                            selected
                            <% } %>
                            title="<%- variant.name %>">&nbsp;&nbsp;&nbsp;<%- variant.name %></option>
                        <% } %>
                        <% } %>
                    <% } %>
                    <% } %>
                </select>
                <span class="btn-group" data-toggle="buttons">
                <label class="btn btn-default<%= (locals.search && locals.search.materialVariants && search.materialVariants)?' active':'' %>" title="<%= __('Include variants') %>">
                    <input type="checkbox" name="materialVariants" autocomplete="off" <%= (locals.search && locals.search.materialVariants && search.materialVariants)?' checked':'' %>><i class="fa fa-sitemap"></i>
                </label>
                </span>
                &nbsp;
                <select class="form-control selectpicker" id="shop" name="shop" data-width="120px" title="<%- __('Shop'); %>">
                    <% if (locals.shops && shops.length) { selected = (locals.search && locals.search.shop) ? search.shop : ''; %>
                    <% shops.forEach(function (shop) { %>
                    <option value="<%- shop.id %>"
                            <% if (shop.logo) { %>
                            data-content="<img class='shop-logo' src='/shop/get-logo/<%- shop.id %>' title='<%- shop.name %>'></img> <span class='name logo-name'><%- shop.name %></span>"
                            <% } else { %>
                            data-content="<%- shop.name %> "
                            <% } %>
                            <% if (shop.id == selected) { %>
                            selected
                            <% } %>
                    ><%- shop.name %></option>
                    <% }); %>
                    <% } %>
                </select>

            </th>
            <th>
                <select class="form-control selectpicker" id="brand" name="brand" data-width="120px" title="<%- __('Brand'); %>">
                    <% if (locals.brands && brands.length) { selected = (locals.search && locals.search.brand) ? search.brand : ''; %>
                    <% brands.forEach(function (brand) { %>
                    <option value="<%- brand.id %>"
                            <% if (brand.logo) { %>
                            data-content="<img class='brand-logo' src='/brand/get-logo/<%- brand.id %>' title='<%- brand.name %>'></img> <span class='name logo-name'><%- brand.name %></span>"
                            <% } else { %>
                            data-content="<%- brand.name %> "
                            <% } %>
                            <% if (brand.id == selected) { %>
                            selected
                            <% } %>
                    ><%- brand.name %></option>
                    <% }); %>
                    <% } %>
                </select>
            </th>
            <th>
                <select class="form-control selectpicker" id="finished" name="finished" title="<%- __('Finished?'); %>">
                    <% selected = (locals.search && locals.search.finished) ? search.finished : ''; %>
                    <% [{value:'', label:'Not finished'}, {value:'finished', label: 'Finished'}, {value: 'all', label:'All'}].forEach(function (status) { %>
                    <option value="<%- status.value %>"<% if (status.value == selected) { %> selected<% } %>><%- __(status.label) %></option>
                    <% }); %>
                </select>
            </th>
            <th>
                <div class="input-group pull-right">
                    <span class="input-group-addon" title="<%- __('Sort'); %>"><i class="fa fa-sort"></i></span>
                    <select class="form-control selectpicker" id="sort" name="sort" data-width="fit" title="<%- __('Sort'); %>">
                        <% sortList.forEach(function (sort) { %>
                        <option value="<%- sort.value %>"<% if (sort.value == selectedSort) { %> selected<% } %>><%- __(sort.label) %></option>
                        <% }); %>
                    </select>
                </div>
            </th>
        </tr>
        </thead>
        <% if (filaments && filaments.length) { %>
        <% filaments.forEach(function (filament) { %>
        <tr data-url="/filament/show/<%- filament.id %>"<% if (filament.finished) { %> class="filament-finished"<% } %>>
            <td class="trg-show-filament" >
                <%- include('../partial/colorPreview.ejs', { primaryColor: filament.color }); %>
            </td>
            <td class="trg-show-filament" >
                <% if (filament.material ) { %>
                <span class="material-name" title="<%- filament.material.name %>"><%- filament.material.name %></span>
                <% } %>
                <span class="filament-diameter"><b>∅</b> <%- filament.diameter %></span>
                <br/>
                <span class="filament-name" title="<%- filament.name %>"><%- filament.name %></span>
            </td>
            <td class="trg-show-filament" >
                <%- __('%s kg/m³', filament.density) %>
                <br/>
                <i class="p3di p3di-weight"></i>
                <%- __('%s kg', filament.initialMaterialWeight) %>
            </td>
            <td class="trg-show-filament" >
                <%- __('%.2f €', filament.price) %>
                <br/>
                <% if (filament.pricePerKg !== null) { %>
                <%- __('%.2f €/kg', filament.pricePerKg) %>
                <% } %>
            </td>
            <td class="trg-show-filament" >
                <% if (filament.headTemp.experienced) { %>
                <i class="rs rs-extruder"></i>
                <%- __('%s°C', filament.headTemp.experienced) %>
                <% } %>
                <br/>
                <% if (filament.bedTemp.experienced) { %>
                <i class="rs rs-heated-bed"></i>
                <%- __('%s°C', filament.bedTemp.experienced) %>
                <% } %>
            </td>
            <td class="trg-show-filament" >
                <% if (filament.brand) { %>
                <% if (filament.brand.logo && filament.brand.logo.size) { %>
                <img alt="<%- filament.brand.name %>" title="<%- filament.brand.name %>" class="brand-logo"
                     src="/brand/get-logo/<%- filament.brand.id %>">
                <% } else { %>
                <%- filament.brand.name %>
                <% } %>
                <% } %>
            </td>
            <td class="trg-show-filament">
                <div class="progress">
                    <%
                        var leftPercentage = filament.materialLeftPercentage;
                        var progressbarClass = 'progress-bar-success';
                        if (leftPercentage <= config.get('filament:leftThresholds:warning')) {
                            progressbarClass = 'progress-bar-warning'
                        }
                        if (leftPercentage <= config.get('filament:leftThresholds:danger')) {
                            progressbarClass = 'progress-bar-danger'
                        }
                    %>
                    <div title="<%- leftPercentage %>%" class="progress-bar <%- progressbarClass %>"
                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: <%- leftPercentage %>%;">
                        <% if (filament.materialLeftPercentage > 50) { %>
                        <%- sprintf('%.2f', leftPercentage) %>%
                        <% } %>
                    </div>
                    <% if (filament.materialLeftPercentage <= 50) { %>
                    <div class="progress-text" style="padding-left:<%- leftPercentage%>%"><%- sprintf('%.2f', leftPercentage) %>%</div>
                    <% } %>
                </div>
                <div class="filament-left-data">
                    <%- __('~ %.2f Kg / ~ %.2f m', filament.leftMaterialWeight(), filament.getLeftLength()) %>
                </div>
            </td>

            <td class="table-actions">
                <div class="actions-block">
                    <a href="/filament/show/<%- filament.id %>" class="trg-add-filament"><i class=" fa fa-eye"></i>&nbsp;<%- __("show") %></a>
                    <a href="/filament/edit/<%- filament.id %>" class="trg-edit-filament"><i class=" fa fa-pencil"></i>&nbsp;<%- __("edit") %>
                    </a>
                    <a href="/filament/delete/<%- filament.id %>" data-id="<%- filament.id %>"
                       class="trg-delete-filament"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                    <br/>
                    <a href="/filament/left-material/<%- filament.id %>"><i class="p3di p3di-weight"></i>&nbsp;<%- __("left material") %></a>
                    <span class="dropdown">
                        <a href="#" class="trg-dropdown" data-toggle="dropdown">
                            <span class="caret"></span>
                            <%- __("other actions") %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/filament/add/<%- filament.id %>"><i class="fa fa-copy"></i>&nbsp;<%- __("copy") %></a></li>
                            <li><a href="/filament/add-picture/<%- filament.id %>"><i class="fa fa-image"></i>&nbsp;<%- __("add picture") %></a></li>
                            <li><a href="/filament/cost-calculator#<%- filament.id %>"><i class="fa fa-calculator"></i>&nbsp;<%- __("cost calculator") %></a></li>
                            <% if (filament.finished) { %>
                            <li><a href="/filament/finished/<%- filament.id %>/0"><i class="fa fa-battery-half"></i>&nbsp;<%- __("not finished") %></a></li>
                            <% } else { %>
                            <li><a href="/filament/finished/<%- filament.id %>/1"><i class="fa fa-battery-empty"></i>&nbsp;<%- __("finished") %></a></li>
                            <% } %>
                        </ul>
                    </span>
                </div>
            </td>
        </tr>
        <% }); %>
        <% } else { %>
        <tr>
            <td colspan="8" class="not-found">
                <%- __('No filament found.') %>
                <% if (!filamentCount) {%>
                <br><br>
                <% include ../partial/addFilamentButton.ejs %>
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>
    </form>
</div>

<div id="filament-message-container"></div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({html:true})

        function deleteFilament(filamentId) {
            $.ajax({
                type: "DELETE",
                url: '/filament/delete/' + filamentId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#filament-message-container', data.message);
                    }
                    document.location = document.location;
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#filament-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#filament-message-container', errorMsg);
                }
            });
        }

        $('.selectpicker').selectpicker();

        $('.trg-delete-filament').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var filamentId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/filament/get/' + filamentId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.filament) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s filament?', data.filament.displayName), function () {
                            deleteFilament(filamentId);
                        }, "filaments#"+Locale3DPTools.__('delete-a-filament'));
                    } else {
                        App3DPTools.errorFlash('#filament-message-container', Locale3DPTools.__('Error while retrieving data for filament %s.', filamentId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#filament-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#filament-message-container', errorMsg);
                }
            });
        });

        $('.trg-edit-filament').click(function (e) {
            e.stopPropagation();
            return true;
        });

        $('.trg-show-filament').click(function (e) {
            var url = $(this).data('url');

            if (!url) {
                url = $(this).parent().data('url');
            }

            if (url) {
                document.location = url;
            }
        });

        $('form#filament-search').on('change', 'input, select', function() {
            $('form#filament-search').submit();
        }).on('submit', function() {
            $('.form-control:input', $(this)).each(function() {
                var $input = $(this);

                var value = $input.val();
                if (!value || value == '') {
                    $input.prop('disabled', true);
                }

            });
            $(':input', $(this)).prop('readonly', true);
            $('button', $(this)).prop('disabled', true);
        });

        $('#clear-search').click(function(e) {
            e.preventDefault();
            $(':input', 'form#filament-search')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            $('form#filament-search').submit();
        });
    });
</script>