<h1><span class="fa-overlay">
    <i class="rs rs-filament"></i>
    <i class="p3di p3di-weight fa-overlay-se" style="color:white"></i>
    <i class="p3di p3di-weight fa-overlay-se text-primary"></i>
</span> <%- __('Left filament %s', filament.name) %></h1>

<div class="row">
    <div class="col-md-3 filament-content">
        <% if (filament.brand.logo && filament.brand.logo.size) { %>
        <div class="brand-logo-container">
            <% if (filament.brand.url) { %>
            <a href="<%- filament.brand.url %>" target="_blank">
                <% } %>
                <img alt="<%- filament.brand.name %>" title="<%- filament.brand.name %>" class="brand-logo"
                     src="/brand/get-logo/<%- filament.brand.id %>">
                <% if (filament.brand.url) { %>
            </a>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="col-md-9 filament-details">
        <table>
            <tr>
                <td><%- __('Material:') %></td>
                <td><%- filament.material.name %></td>
            </tr>
            <tr>
                <td><%- __('Color:') %></td>
                <td>
                    <%- include('../partial/colorPreview.ejs', { primaryColor: filament.color }); %>
                    <%- filament.color.name %>
                </td>
            </tr>
            <tr>
                <td><%- __('Diameter:') %></td>
                <td><b>∅</b> <%- filament.diameter %></td>
            </tr>
            <tr>
                <td><%- __('Net material weight:') %></td>
                <td><i class="p3di p3di-weight"></i>
                    <%- __('%s kg', filament.initialMaterialWeight) %></td>
            </tr>
            <tr>
                <td><%- __('Length:') %></td>
                <td><%- __('~ %.2f m', filament.getInitialLength()) %></td>
            </tr>
        </table>
        <div class="filament-left-data">
            <%- __('Material left: ~ %.2f Kg / %.2f Kg', filament.leftMaterialWeight(), filament.initialMaterialWeight) %>
            <a href="/filament/left-material/<%- filament.id %>" class="pull-right"><i class="fa fa-pencil"></i></a>
            <div class="progress">
                <%
                var leftPercentage = filament.materialLeftPercentage;
                var progressbarClass = 'progress-bar-success';
                if (leftPercentage <= config.get('filament:leftThresholds:warning')) {
                    progressbarClass = 'progress-bar-warning'
                }
                if (leftPercentage <= config.get('filament:leftThresholds:danger')) {
                    progressbarClass = 'progress-bar-danger'
                }
                %>
                <div title="<%- leftPercentage %>%" class="progress-bar <%- progressbarClass %>"
                     role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: <%- leftPercentage %>%;">
                    <% if (filament.materialLeftPercentage > 50) { %>
                    <%- sprintf('%.2f', leftPercentage) %>%
                    <% } %>
                </div>
                <% if (filament.materialLeftPercentage <= 50) { %>
                <div class="progress-text"
                     style="padding-left:<%- leftPercentage %>%"><%- sprintf('%.2f', leftPercentage) %>%
                </div>
                <% } %>
            </div>
            <%- __('Length left: ~ %.2f m / ~ %.2f m', filament.getLeftLength(), filament.getInitialLength()) %>
        </div>
    </div>
</div>
<hr>
<form class="form-filament" method="POST">
    <fieldset>
        <div class="form-tips">
            <%- __("It is possible to tell that the filament is empty by putting '0' as left weight or length. The filament will then be set as finished.") %>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group<%= (errors.leftTotalWeight || errors.weighUnit) ? " has-error" : "" %>">
                    <label for="leftTotalWeight"
                           class="control-label"><i class="p3di p3di-weight"></i> <%- __('Left total weight:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="leftTotalWeight"
                               name="leftTotalWeight"
                               value="<%- (locals.leftTotalWeight) ? leftTotalWeight : ''; %>" autofocus>
                        <div class="input-group-addon">
                            <label for="weight-unit-g"><input type="radio" name="weighUnit" value="g" id="weight-unit-g" <%- (locals.weighUnit) ? (weighUnit=='g'?'checked':'') : 'checked' %>> <%- __('g'); %></label>
                            /
                            <label for="weight-unit-kg"><input type="radio" name="weighUnit" value="kg" id="weight-unit-kg" <%- (locals.weighUnit) ? (weighUnit=='kg'?'checked':'') : '' %>> <%- __('Kg'); %></label>
                        </div>
                    </div>
                    <% if (errors.leftTotalWeight || errors.weighUnit) { %>
                    <ul class="help-block with-errors">
                        <% if (errors.leftTotalWeight) { %>
                        <% for (let msg of errors.leftTotalWeight) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                        <% } %>
                        <% if (errors.weighUnit) { %>
                        <% for (let msg of errors.weighUnit) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
                <div id="estimated-left-length" class="filament-left-data"></div>
            </div>
            <div class="col-md-1 form-horizontal-alternative-or">
                <div style="margin-top: 30px;"><%- __('or') %></div>
            </div>
            <div class="col-md-3">
                <div class="form-group<%= (errors.leftLength) ? " has-error" : "" %>">
                    <label for="leftLength"
                           class="control-label"><%- __('Left length:'); %></label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="leftLength"
                               name="leftLength"
                               value="<%- (locals.leftLength) ? leftLength : '' %>">
                        <div class="input-group-addon"><%- __('m'); %></div>
                    </div>
                    <% if (errors.leftLength) { %>
                    <ul class="help-block with-errors">
                        <% for (let msg of errors.leftLength) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
                <div id="estimated-left-weight" class="filament-left-data"></div>
            </div>
            <div class="col-md-1 form-horizontal-alternative-or">
                <div style="margin-top: 30px;"><%- __('or') %></div>
            </div>
            <div class="col-md-4">
                <div class="form-group<%= (errors.relativeLength) ? " has-error" : "" %>">
                    <label for="relativeLength"
                           class="control-label"><%- __('Add/substract length:'); %></label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <label for="relative-length-sign-substract"><input type="radio" name="relativeLengthSign" value="-" id="relative-length-sign-substract" <%- (locals.relativeLengthSign) ? (relativeLengthSign=='-'?'checked':'') : 'checked' %>> <%- __('Substract'); %></label>
                            /
                            <label for="relative-length-sign-add"><input type="radio" name="relativeLengthSign" value="+" id="relative-length-sign-add" <%- (locals.relativeLengthSign) ? (relativeLengthSign=='+'?'checked':'') : '' %>> <%- __('Add'); %></label>
                        </div>
                        <input type="text" class="form-control" id="relativeLength"
                               name="relativeLength"
                               value="<%- (locals.relativeLength) ? relativeLength : '' %>">
                        <div class="input-group-addon"><%- __('m'); %></div>
                    </div>
                    <% if (errors.relativeLength || errors.relativeLengthSign) { %>
                    <ul class="help-block with-errors">
                        <% if (errors.relativeLength) { %>
                        <% for (let msg of errors.relativeLength) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                        <% } %>
                        <% if (errors.relativeLengthSign) { %>
                        <% for (let msg of errors.relativeLengthSign) { %>
                        <li><%= __(msg) %></li>
                        <% } %>
                        <% } %>
                    </ul>
                    <% } %>
                </div>
                <div id="estimated-left-weight" class="filament-left-data"></div>
            </div>
        </div>
        <div id="filament-live-left-progress" class="filament-left-data" style="display:none;">
            <div class="progress">
                <%
                var leftPercentage = filament.materialLeftPercentage;
                var progressbarClass = 'progress-bar-success';
                if (leftPercentage <= config.get('filament:leftThresholds:warning')) {
                    progressbarClass = 'progress-bar-warning'
                }
                if (leftPercentage <= config.get('filament:leftThresholds:danger')) {
                    progressbarClass = 'progress-bar-danger'
                }
                %>
                <div title="<%- leftPercentage %>%" class="progress-bar <%- progressbarClass %>"
                     role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: <%- leftPercentage %>%;">
                </div>
                <div class="progress-text"
                     style="padding-left:<%- leftPercentage %>%">
                </div>
            </div>
        </div>
        <div id="filament-live-message" class="alert alert-info" style="display:none;"></div>

        <p class="button-bar">
            <a href="<%- cancelUrl %>" class="btn btn-default"><%- __('Cancel') %></a>
            <button type="submit" class="btn btn-primary"><%- __('Save') %></button>
        </p>
    </fieldset>
</form>

<script type="text/javascript">
    function filamentLeftMaterialOnChange() {
        $('#filament-live-message').hide();
        $.ajax({
            method: 'POST',
            url: '/filament/compute-left-material/<%- filament.id %>',
            data: $('form.form-filament').serialize(),
            success: function(data) {
                $('#estimated-left-length, #estimated-left-weight').text('');

                if (typeof data.weight !== 'undefined') {
                    $('#estimated-left-weight').text(Locale3DPTools.__('~ %.2f Kg', data.weight));
                }
                if (typeof data.length !== 'undefined') {
                    $('#estimated-left-length').text(Locale3DPTools.__('~ %.2f m', data.length));
                }
                var progress = $('#filament-live-left-progress');
                if (typeof data.percentageLeft !== 'undefined' && progress.length) {
                    var progressbarClass = 'progress-bar-success';
                    if (data.percentageLeft <= <%- config.get('filament:leftThresholds:warning') %>) {
                        progressbarClass = 'progress-bar-warning'
                    }
                    if (data.percentageLeft <= <%- config.get('filament:leftThresholds:danger') %>) {
                        progressbarClass = 'progress-bar-danger'
                    }

                    progress.find('.progress-bar')
                            .width(data.percentageLeft+'%')
                            .removeClass('progress-bar-success')
                            .removeClass('progress-bar-warning')
                            .removeClass('progress-bar-danger')
                            .addClass(progressbarClass);
                    if (data.percentageLeft > 50) {
                        progress.find('.progress-bar').text(sprintf('%.2f%%', data.percentageLeft));
                        progress.find('.progress-text').text('');
                    } else {
                        progress.find('.progress-bar').text('');
                        progress.find('.progress-text').text(sprintf('%.2f%%', data.percentageLeft)).css({ paddingLeft: data.percentageLeft+'%'});
                    }
                    progress.show();
                } else if (progress) {
                    progress.hide();
                }

                if (data.message && data.message != "") {
                    $('#filament-live-message').html(data.message).show();
                }
            }
        });
    }
    $(function () {
        $('#leftTotalWeight,#leftLength,#relativeLength').keyup(filamentLeftMaterialOnChange);
        $('input[name=weighUnit],input[name=relativeLengthSign]').change(filamentLeftMaterialOnChange);
    });
</script>