<h1><i class="rs rs-filament" style="color:<%- filament.color.code %>"></i>&nbsp;<%- filament.displayName %></h1>

<div class="filament-show-layout">
    <div class="filament-details<% if (filament.finished) { %> filament-finished<% } %>">
        <table>
            <tr>
                <td><%- __('Material:') %></td>
                <td><%- filament.material.name %></td>
            </tr>
            <tr>
                <td><%- __('Color:') %></td>
                <td>
                    <div class="color-preview-container"><i title="<%- filament.color.name %>" class="color-preview"
                       style="background-color: <%- filament.color.code %> %>;"></i></div>
                    <%- filament.color.name %>
                    <% if (filament.masterColorCode) {%>
                    ( <div class="color-preview-container"><i title="<%= __('Master color') %>" class="color-preview"
                                                            style="background-color: <%- filament.masterColorCode %> %>;"></i></div> )
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><%- __('Diameter:') %></td>
                <td><b>∅</b> <%- filament.diameter %></td>
            </tr>
            <tr>
                <td><%- __('Net material weight:') %></td>
                <td><i class="p3di p3di-weight"></i>
                    <%- __('%s kg', filament.initialMaterialWeight) %></td>
            </tr>
            <tr>
                <td><%- __('Density:') %></td>
                <td><%- __('%s kg/m³', filament.density) %></td>
            </tr>
            <tr>
                <td><%- __('Length:') %></td>
                <td><%- __('~ %.2f m', filament.getInitialLength()) %></td>
            </tr>
            <tr>
                <td><%- __('Flow:') %></td>
                <td>
                    <% if (filament.flowPercentage) { %>
                    <i class="rs rs-flow"></i>
                    <%- __('%s %%', filament.flowPercentage) %>
                    <% } %>
                </td>
            </tr>
            <% if (filament.printingSpeed && (filament.printingSpeed.min || filament.printingSpeed.max)) {%>
            <tr>
                <td><%- __('Speed:') %></td>
                <td>
                    <i class="rs rs-speed"></i>
                    <% if (filament.printingSpeed.min && filament.printingSpeed.max) { %>
                    <%- __('From %s mm/s to %s mm/s', filament.printingSpeed.min, filament.printingSpeed.max) %>
                    <% } else if (filament.printingSpeed.min) { %>
                    <%- __('%s mm/s min', filament.printingSpeed.min) %>
                    <% } else if (filament.printingSpeed.max) { %>
                    <%- __('%s mm/s max', filament.printingSpeed.max) %>
                    <% } %>
                </td>
            </tr>
            <% } %>
            <tr>
                <td><%- __('Extrusion temperature:') %></td>
                <td>
                    <% temp = filament.headTemp;
                    iconClass = "rs rs-extruder"; %>
                    <% include ../material/partial/tempRange.ejs %>
                    <% if (filament.headTemp.experienced) { %>
                    <br/>
                    <i class="fa fa-check"></i>
                    <%- __('%s°C', filament.headTemp.experienced) %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><%- __('Bed temperature:') %></td>
                <td>
                    <% temp = filament.bedTemp;
                    iconClass = "rs rs-heated-bed"; %>
                    <% include ../material/partial/tempRange.ejs %>
                    <% if (filament.bedTemp.experienced) { %>
                    <br/>
                    <i class="fa fa-check"></i>
                    <%- __('%s°C', filament.bedTemp.experienced) %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><%- __('Brand:') %></td>
                <td>
                    <% if (filament.brand) { %>
                    <% if (filament.brand.url) { %>
                    <a href="<%- filament.brand.url %>" target="_blank">
                    <% } %>
                        <%- filament.brand.name %>
                        <% if (filament.brand.url) { %>
                    </a>
                    <% } %>
                    <% } %>
                </td>
            </tr>
        </table>
        <% if (filament.brand && filament.brand.logo && filament.brand.logo.size) { %>
        <div class="brand-logo-container">
            <% if (filament.brand.url) { %>
            <a href="<%- filament.brand.url %>" target="_blank">
                <% } %>
                <img alt="<%- filament.brand.name %>" title="<%- filament.brand.name %>" class="brand-logo"
                     src="/brand/get-logo/<%- filament.brand.id %>">
                <% if (filament.brand.url) { %>
            </a>
            <% } %>
        </div>
        <% } %>
    </div>

    <div class="filament-actions">
        <title><%- __('Actions') %></title>
        <a href="/filament/edit/<%- filament.id %>" class="btn btn-default btn-block trg-edit-filament"><i
                    class="fa fa-pencil"></i>&nbsp;<%- __("edit") %>
        </a>
        <a href="/filament/delete/<%- filament.id %>" data-id="<%- filament.id %>"
           class="btn btn-default btn-block trg-delete-filament"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %>
        </a>
        <a href="/filament/add/<%- filament.id %>" class="btn btn-default btn-block"><i class="fa fa-copy"></i>&nbsp;<%- __("copy") %></a>
        <a href="/filament/left-material/<%- filament.id %>" class="btn btn-default btn-block"><i
                    class="p3di p3di-weight"></i>&nbsp;<%- __("left material") %>
        </a>
        <a href="/filament/add-picture/<%- filament.id %>" class="btn btn-default btn-block"><i
                    class="fa fa-image"></i>&nbsp;<%- __("add picture") %>
        </a>
        <a href="/filament/cost-calculator#<%- filament.id %>" class="btn btn-default btn-block"><i
                    class="fa fa-calculator"></i>&nbsp;<%- __("cost calculator") %>
        </a>
        <% if (filament.finished) { %>
            <a href="/filament/finished/<%- filament.id %>/0" class="btn btn-default btn-block"><i class="fa fa-battery-half"></i>&nbsp;<%- __("not finished") %></a></li>
        <% } else { %>
            <a href="/filament/finished/<%- filament.id %>/1" class="btn btn-default btn-block"><i class="fa fa-battery-empty"></i>&nbsp;<%- __("finished") %></a></li>
        <% } %>
    </div>

    <div class="filament-content">
        <% if (filament.finished) { %>
            <b class="text-warning"><%- __('Filament finished on: '); %></b> <%- moment(filament.finishedDate).format('LL') %>
            <div class="filament-left-data">
                <%- __('Length left: ~ %.2f m', filament.getLeftLength()) %>
            </div>
        <% } else { %>
        <div class="filament-left-data">
            <%- __('Material left: ~ %.2f Kg / %.2f Kg', filament.leftMaterialWeight(), filament.initialMaterialWeight) %>
            <a href="/filament/left-material/<%- filament.id %>" class="pull-right"><i class="fa fa-pencil"></i></a>
            <div class="progress">
                <%
                var leftPercentage = filament.materialLeftPercentage;
                var progressbarClass = 'progress-bar-success';
                if (leftPercentage <= config.get('filament:leftThresholds:warning')) {
                    progressbarClass = 'progress-bar-warning'
                }
                if (leftPercentage <= config.get('filament:leftThresholds:danger')) {
                    progressbarClass = 'progress-bar-danger'
                }
                %>
                <div title="<%- leftPercentage %>%" class="progress-bar <%- progressbarClass %>"
                     role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: <%- leftPercentage %>%;">
                    <% if (filament.materialLeftPercentage > 50) { %>
                    <%- sprintf('%.2f', leftPercentage) %>%
                    <% } %>
                </div>
                <% if (filament.materialLeftPercentage <= 50) { %>
                <div class="progress-text"
                     style="padding-left:<%- leftPercentage %>%"><%- sprintf('%.2f', leftPercentage) %>%
                </div>
                <% } %>
            </div>
            <%- __('Length left: ~ %.2f m / ~ %.2f m', filament.getLeftLength(), filament.getInitialLength()) %>
        </div>
        <% } %>
        <div class="description markdown">
            <%- marked(filament.description) %>
        </div>
        <div class="buy-data">
            <table>
                <tr>
                    <td class="shop-data">
                        <% if (filament.shop.url) { %>
                        <a href="<%- filament.shop.url %>" target="_blank">
                            <% } %>
                            <% if (filament.shop.logo && filament.shop.logo.size) { %>
                            <img alt="<%- filament.shop.name %>" title="<%- filament.shop.name %>" class="shop-logo"
                                 src="/shop/get-logo/<%- filament.shop.id %>">
                            <% } else { %>
                            <%- filament.shop.name %>
                            <% } %>
                            <% if (filament.shop.url) { %>
                        </a>
                        <% } %>
                    </td>
                    <td>
                        <b><%- __('Purchased on:') %></b> <%- moment(filament.buyDate).format('LL') %>
                        <br/>
                        <b><%- __('Price:') %></b> <%- __('%.2f € TTC', filament.price) %>
                    </td>
                </tr>
            </table>
        </div>
        <% if (filament.creationDate || filament.modificationDate || filament.lastUsedDate) { %>
        <div class="buy-data">
            <% if (filament.creationDate) { %>
            <b><%- __('Created on:') %></b> <%- moment(filament.creationDate).format('LL') %><br/>
            <% } %>
            <% if (filament.modificationDate) { %>
            <b><%- __('Modified on:') %></b> <%- moment(filament.modificationDate).format('LL') %><br/>
            <% } %>
            <% if (filament.lastUsedDate) { %>
            <b><%- __('Last used on:') %></b> <%- moment(filament.lastUsedDate).format('LL') %><br/>
            <% } %>
        </div>
        <% } %>
    </div>

    <% if (filament.material) { %>
    <div class="filament-material">
    <div><b><%- __("Material: %s", filament.material.name) %></b></div>
    <% material = filament.material; %><% include ../material/partial/files.ejs %>
    <%- marked(filament.material.description) %>
    </div>
    <% } %>

    <% if (filament.pictures && filament.pictures.length) { %>
    <div class="filament-pictures">
        <% filament.pictures.forEach(function(picture) { %>
        <div class="img-overlay-container img-responsive img-thumbnail">
            <a href="/filament/get-picture/<%- filament.id %>/<%- picture._id %>" class="filament-picture-zoom" target="_blank"><img class="filament-picture" src="/filament/get-picture/<%- filament.id %>/<%- picture._id %>"></a>
            <div class="img-actions">
                <a href="/filament/download-picture/<%- filament.id %>/<%- picture._id %>" title="<%- __('Download picture') %>"><i class="fa fa-download"></i></a>
                <a href="/filament/delete-picture/<%- filament.id %>/<%- picture._id %>" title="<%- __('Delete picture') %>" class="trg-delete-picture"><i
                            class="fa fa-trash"></i></a>
            </div>
        </div>
        <% }); %>
    </div>
    <% } %>
</div>

<div id="filament-message-container"></div>

<script type="text/javascript">
    $(function () {
        $('.trg-delete-picture').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var $img = $this.closest('.img-overlay-container').find('.filament-picture').first();

            var confirmContent = $('<div>').text(Locale3DPTools.__('Do you really want to delete this picture?'));
            confirmContent.append($('<br>'));
            confirmContent.append($('<img>').attr('src', $img.attr('src')).addClass('picture'));

            App3DPTools.confirmModal(confirmContent, function () {
                $.ajax({
                    type: "DELETE",
                    url: $this.attr('href'),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        document.location = document.location;
                    },
                    error: function (xhr, status, errorMsg) {
                        if (xhr.responseJSON) {
                            var data = xhr.responseJSON;
                            if (data.message) {
                                App3DPTools.errorFlash('#filament-message-container', data.message);
                                return;
                            }
                        }
                        App3DPTools.errorFlash('#filament-message-container', errorMsg);
                    }
                });
            });
        });

        function deleteFilament(filamentId) {
            $.ajax({
                type: "DELETE",
                url: '/filament/delete/' + filamentId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#filament-message-container', data.message);
                    }
                    document.location = '/filament';
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#filament-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#filament-message-container', errorMsg);
                }
            });
        }

        $('.trg-delete-filament').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            var $this = $(this);
            var filamentId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/filament/get/' + filamentId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.filament) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s filament?', data.filament.displayName), function () {
                            deleteFilament(filamentId);
                        }, "filaments#"+Locale3DPTools.__('delete-a-filament'));
                    } else {
                        App3DPTools.errorFlash('#filament-message-container', Locale3DPTools.__('Error while retrieving data for filament %s.', filamentId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#filament-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#filament-message-container', errorMsg);
                }
            });
        });
    });
</script>