<script src="/vendor/highcharts/highcharts.js"></script>

<script type="text/javascript">
    $(function () {
        Highcharts.setOptions({
            credits: {
                enabled: false
            },
            chart: {
                backgroundColor: 'transparent'
            },
            // Microsoft Pastel chart series colors
            //colors: ['#87CEEB', '#32CD32', '#BA55D3', '#F08080', '#4682B4', '#9ACD32', '#40E0D0', '#FF69B4', '#F0E68C', '#D2B48C', '#8FBC8B', '#6495ED', '#DDA0DD', '#5F9EA0', '#FFDAB9', '#FFA07A']
            // D3 category10
            //colors: ['#0072AD', '#FF7C15', '#009D37', '#DC141D', '#955EB7', '#8C5049', '#E96FBE', '#7D7D7D', '#B7BD36', '#00BCCB']
            // D3 category20
            colors: ['#0072AD', '#A7C4E3', '#FF7C15', '#FFB97A', '#009D37', '#87DD8C', '#DC141D', '#FF9291', '#955EB7', '#C6AAD0', '#8C5049', '#C59790', '#E96FBE', '#FDB1CE', '#7D7D7D', '#C5C5C5', '#B7BD36', '#D6D88E', '#00BCCB', '#91D7E1']
        });
    });
</script>

<ul class="nav nav-tabs nav-tabs-title">
    <li role="presentation" class="active"><h1><i class="fa fa-pie-chart"></i> <%- __('Filaments statistics') %></h1></li>
    <li role="presentation"><a href="/filament"><i class="rs rs-filament"></i>&nbsp;<%- __('Filaments') %></a></li>
</ul>

<% if (stats && stats.totals) { %>
<div class="panel panel-default filament-stats">
    <div class="panel-heading">
        <h2 class="panel-title"><%- __('Totals'); %></h2>
    </div>
    <div class="panel-body row">
        <% if (stats.totals.count) { %>
        <div class="col-md-3 filament-stats-text"><%- __('%d filaments', stats.totals.count) %></div>
        <% } %>
        <% if (stats.totals.cost) { %>
        <div class="col-md-3 filament-stats-text"><%- __('%.2f €', stats.totals.cost) %></div>
        <% } %>
        <% if (stats.totals.weight) { %>
        <div class="col-md-3 filament-stats-text"><%- __('%.2f Kg', stats.totals.weight) %></div>
        <% } %>
        <% if (stats.totals.length) { %>
            <% if (stats.totals.length > 1000) { %>
                <div class="col-md-3 filament-stats-text"><%- __('%.2f km', stats.totals.length / 1000) %></div>
            <% } else { %>
                <div class="col-md-3 filament-stats-text"><%- __('%.2f m', stats.totals.length) %></div>
            <% } %>
        <% } %>
    </div>
</div>
<% } %>
<div class="row">
<% if (stats && stats.count) { %>
    <div class="col-md-6">
        <div class="panel panel-default filament-stats">
            <div class="panel-heading">
                <h2 class="panel-title"><%- __('Count'); %></h2>
            </div>
            <div class="panel-body">
                <% if (stats.count.byBrands) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-count-by-brands"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-count-by-brands').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By brands'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.count.byBrands.map(function(doc) {
                                    doc.y = doc.count;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>

                <% if (stats.count.byShops) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-count-by-shops"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-count-by-shops').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By shops'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.count.byShops.map(function(doc) {
                                    doc.y = doc.count;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>

                <% if (stats.count.byMaterials) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-count-by-materials"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-count-by-materials').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By materials'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.count.byMaterials.map(function(doc) {
                                    doc.y = doc.count;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>

    <% if (stats && stats.costs) { %>
    <div class="col-md-6">
        <div class="panel panel-default filament-stats">
            <div class="panel-heading">
                <h2 class="panel-title"><%- __('Costs'); %></h2>
            </div>
            <div class="panel-body">
                <% if (stats.costs.byBrands) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-cost-by-brands"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-cost-by-brands').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By brands'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y:.2f}</b> €'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.costs.byBrands.map(function(doc) {
                                    doc.y = doc.cost;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>

                <% if (stats.costs.byShops) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-cost-by-shops"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-cost-by-shops').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By shops'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y:.2f}</b> €'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.costs.byShops.map(function(doc) {
                                    doc.y = doc.cost;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>

                <% if (stats.costs.byMaterials) { %>
                <div class="filament-stats-graph">
                    <div id="filament-stats-cost-by-materials"></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#filament-stats-cost-by-materials').highcharts({
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: '<%- __('By materials'); %>'
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y:.2f}</b> €'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:<br/>{point.percentage:.1f}%'
                                    }
                                }
                            },        series: [{
                                name: '<%- __('Cost'); %>',
                                data: <%- sprintf('%-j', stats.costs.byMaterials.map(function(doc) {
                                    doc.y = doc.cost;
                                    doc.name = doc.label;
                                    return doc;
                                })); %>
                            }]
                        });
                    });
                </script>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
</div>
