<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%- __(pageTitle) %></h3>
    </div>
    <div class="panel-body">
        <form class="account-recovery-form" method="post" autocomplete="off">
            <% if (locals.errors && errors.email && errors.email.length) { %>
            <div class="alert alert-danger">
                <%= __(errors.email[0]) %>
            </div>
            <% } %>
            <div>
                <%- marked(__('Set a new password for your account:')); %>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only"><%- __('Password'); %></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="<%- __('Password'); %>" autofocus required autocomplete="off">
                </div>
            </div>
            <div class="form-group<%= (errors.passwordConfirmation)?" has-error":"" %>">
                <label for="password-confirmation" class="sr-only"><%- __('Password'); %></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                    <input type="password" class="form-control" id="password-confirmation" name="passwordConfirmation" placeholder="<%- __('Password verification'); %>" autofocus required autocomplete="off">
                </div>
                <% if (errors.passwordConfirmation) { %>
                <ul class="help-block with-errors">
                    <% for (let msg of errors.passwordConfirmation) { %>
                    <li><%= __(msg) %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <a href="/" class="btn btn-default"><%- __('Cancel') %></a>
                    <button type="submit" class="btn btn-primary"><%- __('Recover'); %></button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#password, #password-confirmation').keyup(function () {
            var pwd1 = $('#password').val();
            var pwd2 = $('#password-confirmation').val();
            var $pwd2Group = $('#password-confirmation').parents('.form-group').first();

            if ((pwd1 != '') && (pwd2 != '') && (pwd1 != pwd2)) {
                if (!$pwd2Group.hasClass('has-error')) {
                    $pwd2Group.addClass('has-error');
                }
            } else {
                $pwd2Group.removeClass('has-error');
            }
        });
    });
</script>