<h1><%- __("Change my password") %></h1>

<form class="form-change-password" method="POST">
    <% if (locals.errors && errors.email && errors.email.length) { %>
    <div class="alert alert-danger">
        <%= __(errors.email[0]) %>
    </div>
    <% } %>
    <div>
        <%- marked(__('Set a new password for your account (%s):', user.email)); %>
    </div>
    <div class="form-group form-inline">
        <label for="password" class="sr-only"><%- __('Password'); %></label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <input type="password" size="64" class="form-control" id="password" name="password" placeholder="<%- __('Password'); %>" autofocus required autocomplete="off">
        </div>
    </div>
    <div class="form-group form-inline<%= (errors.passwordConfirmation)?" has-error":"" %>">
        <label for="password-confirmation" class="sr-only"><%- __('Password'); %></label>
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <input type="password" size="64" class="form-control" id="password-confirmation" name="passwordConfirmation" placeholder="<%- __('Password verification'); %>" autofocus required autocomplete="off">
        </div>
        <% if (errors.passwordConfirmation) { %>
        <ul class="help-block with-errors">
            <% for (let msg of errors.passwordConfirmation) { %>
            <li><%= __(msg) %></li>
            <% } %>
        </ul>
        <% } %>
    </div>
    <div class="alert alert-warning">
        <%- __('Changing your password will disconnect all sessions other than this one, and you will need to sign in again on your next visit.'); %>
    </div>
    <div class="form-group">
        <div class="pull-right">
            <a href="<%- cancelUrl %>" class="btn btn-default"><%- __('Cancel') %></a>
            <button type="submit" class="btn btn-primary"><%- __('Change my password'); %></button>
        </div>
    </div>
</form>
