<link rel="stylesheet" href="/vendor/css/bootstrap-select.min.css">
<% var chartsColors = config.get('charts:colors'); %>
<script src="/vendor/highcharts/highcharts.js"></script>
<script src="/javascripts/highcharts-locales/<%- getLocale() %>.js"></script>
<script src="/vendor/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    // Microsoft Pastel chart series colors
    //var chartsColors = ['#87CEEB', '#32CD32', '#BA55D3', '#F08080', '#4682B4', '#9ACD32', '#40E0D0', '#FF69B4', '#F0E68C', '#D2B48C', '#8FBC8B', '#6495ED', '#DDA0DD', '#5F9EA0', '#FFDAB9', '#FFA07A'];
    // D3 category10
    //var colors = ['#0072AD', '#FF7C15', '#009D37', '#DC141D', '#955EB7', '#8C5049', '#E96FBE', '#7D7D7D', '#B7BD36', '#00BCCB'];
    // D3 category20
    var chartsColors = <%- sprintf('%-j', chartsColors) %>;
    $(function () {
        Highcharts.setOptions({
            credits: {
                enabled: false
            },
            chart: {
                backgroundColor: 'transparent',
                animation: false
            },
            plotOptions: {
                series: {
                    animation: false
                },
                pie: {
                    dataLabels: {
                        y: -10
                    }
                }
            },
            title: {
                useHTML: true
            },
            colors: chartsColors
        });
    });
</script>

<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading with-button">
                <% if (filaments.stats.totalCount) { %>
                <a href="/filament/cost-calculator" class="btn btn-default"><i class="fa fa-calculator"></i> <%- __('Cost calculator'); %></a>

                <form id="filament-search" method="GET" class="form-inline" action="/filament">
                    <select class="selectpicker" data-style="btn-default btn-sm" id="color" name="color" data-width="60px" title="<%- __('Color'); %>">
                        <% if (locals.colors && colors.length) { %>
                        <% colors.forEach(function (color) { %>
                        <option value="<%- color.code %>"
                                <% if (color.code) { %>
                                data-content="<div class='color-preview-container'><i class='color-preview' style='background-color: <%- color.code %>;'></i></div> <span class='name'><%- color.name %></span>"
                                <% } else { %>
                                data-content="<span class='name'><%- color.name %></span>"
                                <% } %>
                        ><%- color.name %></option>
                        <% }); %>
                        <% } %>
                    </select>


                    <select class="selectpicker" data-style="btn-default btn-sm" id="material" name="material" data-width="auto"  title="<%- __('Material'); %>">
                        <% if (locals.materials && materials.length) { %>
                        <% materials.forEach(function (material) { %>
                        <option value="<%- material.id %>"
                        ><%- material.name %></option>
                        <% }); %>
                        <% } %>
                    </select>
                </form>
                <% } %>
                <h2 class="panel-title"><i class="rs rs-filament"></i>&nbsp;<%- __('Filaments'); %></h2>
            </div>
            <div class="panel-body">
                <% if (filaments.stats.totalCount) { %>
                <div class="row-fluid filament-stats">
                    <div class="col-sm-4">
                        <% if (filaments.stats.totalCount) { %>
                        <div class="filament-stats-text"><i class="rs rs-filament"></i> <%- __('%d filaments', filaments.stats.totalCount) %></div>
                        <% } %>
                        <% if (filaments.stats.totalWeight) { %>
                        <div class="filament-stats-text"><i class="p3di p3di-weight"></i> <%- __('%.2f Kg', filaments.stats.totalWeight) %></div>
                        <% } %>
                        <% if (filaments.stats.totalLength) { %>
                        <% if (filaments.stats.totalLength > 1000) { %>
                        <div class="filament-stats-text"><i class="p3di p3di-ruler"></i>  <%- __('%.2f km', filaments.stats.totalLength / 1000) %></div>
                        <% } else { %>
                        <div class="filament-stats-text"><%- __('%.2f m', filaments.stats.totalLength) %></div>
                        <% } %>
                        <% } %>
                        <% if (filaments.stats.totalFinishedCount) { %>
                        <div class="filament-stats-text"><i class="fa fa-battery-empty"></i> <%- __('%d finished', filaments.stats.totalFinishedCount) %></div>
                        <% } %>
                        <% if (filaments.stats.totalUnusedCount) { %>
                        <div class="filament-stats-text"><i class="fa fa-battery-full"></i> <%- __('%d unused', filaments.stats.totalUnusedCount) %></div>
                        <% } %>
                        <div style="margin-top:3px;">
                            <a href="/filament/stats"><%- __('More statistics...') %></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <% if (filaments.stats.countPerMaterials) { %>
                        <div id="filament-stats-count-per-materials" style="height: 210px"></div>
                        <script type="text/javascript">
                            $(function () {
                                $('#filament-stats-count-per-materials').highcharts({
                                    chart: {
                                        type: 'bar'
                                    },
                                    title: {
                                        enabled: false,
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: <%- sprintf('%-j', filaments.stats.countPerMaterials.map(function(doc) {
                                            return doc.label;
                                        })); %>,
                                        title: {
                                            text: null
                                        },
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            enabled: false
                                        },
                                        labels: {
                                            overflow: 'justify'
                                        }
                                    },
                                    plotOptions: {
                                        bar: {
                                            dataLabels: {
                                                enabled: true
                                            },
                                            pointWidth: 10
                                        }
                                    },
                                    legend: {
                                        enabled: false
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    series: [{
                                        name: '<%- __('Count') %>',
                                        data: <% var colorIdx = 1; %><%- sprintf('%-j', filaments.stats.countPerMaterials.map(function(doc) {
                                            doc.y = doc.count;
                                            doc.color = chartsColors[colorIdx];
                                            doc.borderColor = chartsColors[colorIdx];
                                            colorIdx += 2;
                                            if (colorIdx > chartsColors.length) {
                                                colorIdx = 0;
                                            }
                                            return doc;
                                        })); %>
                                    }]
                                });
                            });
                        </script>
                    <% } %>
                    </div>
                </div>

                <% if (filaments.lastUsed && filaments.lastUsed.length) { %>
                <h3><%- __('Last used'); %></h3>
                <table class="table table-hover filament-list">
                <% filaments.lastUsed.forEach(function (filament) { %>
                    <% include partial/indexFilamentList.ejs %>
                <% }); %>
                </table>
                <% } %>

                <% if (filaments.almostFinished && filaments.almostFinished.length) { %>
                <h3><%- __('Almost finished'); %></h3>
                <table class="table table-hover filament-list">
                    <% filaments.almostFinished.forEach(function (filament) { %>
                    <% include partial/indexFilamentList.ejs %>
                    <% }); %>
                </table>
                <% } %>

                <div class="button-bar">
                    <a href="/filament" class="btn btn-default"><i
                                class="rs rs-filament"></i>&nbsp;<%- __('View all filaments'); %></a>
                </div>
                <% } else { %>
                    <center>
                        <%- __('No filament found.') %><br><br>
                        <% let filamentCount = filaments.stats.totalCount; %>
                        <% include partial/addFilamentButton.ejs %>
                    </center>
                <% } %>
            </div>
        </div>
    </div>

    <div class="col-md-4 side-info">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-shopping-bag"></i>&nbsp;<%- __n("%s shop", shopCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.shopCount && (shopCount > 0)) { %>
                    <% if (locals.randomShop) { var shop = randomShop %>
                    <a href="<%- shop.url %>" target="_blank" class="shop-block">
                        <% if (shop.logo && shop.logo.size) { %>
                        <img class="shop-logo" src="/shop/get-logo/<%- shop.id %>">
                        <% } else { %>
                        <div class="shop-name"><%- shop.name %></div>
                        <% } %>
                    </a>
                    <% } %>
                    <div class="button-bar">
                        <a href="/shop" class="btn btn-default"><i
                                    class="fa fa-shopping-bag"></i>&nbsp;<%- __('View all shops'); %></a>
                    </div>
                <% } else { %>
                <center>
                    <%- __('No shop found.') %><br><br>
                    <a href="/shop/add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<%- __('Add shop') %></a>
                </center>
                <% } %>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-trademark"></i>&nbsp;<%- __n("%s brand", brandCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.brandCount && (brandCount > 0)) { %>
                    <% if (locals.randomBrand) { var brand = randomBrand %>
                    <a href="<%- brand.url %>" target="_blank" class="brand-block">
                        <% if (brand.logo && brand.logo.size) { %>
                        <img class="brand-logo" src="/brand/get-logo/<%- brand.id %>">
                        <% } else { %>
                        <div class="brand-name"><%- brand.name %></div>
                        <% } %>
                    </a>
                    <% } %>
                    <div class="button-bar">
                        <a href="/brand" class="btn btn-default"><i
                                    class="fa fa-trademark"></i>&nbsp;<%- __('View all brands'); %></a>
                    </div>
                <% } else { %>
                <center>
                    <%- __('No brand found.') %><br><br>
                    <a href="/brand/add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<%- __('Add brand') %></a>
                </center>
                <% } %>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-leaf"></i>&nbsp;<%- __n("%s material", materialCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.materialCount && (materialCount > 0)) { %>
                    <% if (locals.randomMaterial) { var material = randomMaterial %>
                    <div class="material-block">
                        <div class="material-name"><%- material.name %></div>
                        <div class="row">
                            <div class="col-md-6">
                                <% if (material.headTemp) {
                                    temp = material.headTemp;
                                    iconClass = "rs rs-extruder"; %>
                                <% include material/partial/tempRange.ejs %>
                                <% } %>
                            </div>
                            <div class="col-md-6">
                                <% if (material.bedTemp) {
                                    temp = material.bedTemp;
                                    iconClass = "rs rs-heated-bed"; %>
                                <% include material/partial/tempRange.ejs %>
                                <% } %>
                            </div>
                        </div>
                        <div class="material-description"><%- marked(material.description) %></div>
                    </div>
                    <% } %>
                    <div class="button-bar">
                        <a href="/material" class="btn btn-default"><i
                                    class="fa fa-leaf"></i>&nbsp;<%- __('View all materials'); %></a>
                    </div>
                <% } else { %>
                <center>
                    <%- __('No material found.') %><br><br>
                    <a href="/material/add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;<%- __('Add material') %></a>
                </center>
                <% } %>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('.selectpicker').selectpicker();

        $('form#filament-search').on('change', 'input, select', function() {
            $('form#filament-search').submit();
        }).on('submit', function() {
            $('.form-control:input', $(this)).each(function() {
                var $input = $(this);

                var value = $input.val();
                if (!value || value == '') {
                    $input.prop('disabled', true);
                }

            });
            $(':input', $(this)).prop('readonly', true);
            $('button', $(this)).prop('disabled', true);
        });
    });
</script>
