<% var chartsColors = config.get('charts:colors'); %>
<script src="/vendor/highcharts/highcharts.js"></script>
<script src="/javascripts/highcharts-locales/<%- getLocale() %>.js"></script>

<script type="text/javascript">
    // Microsoft Pastel chart series colors
    //var chartsColors = ['#87CEEB', '#32CD32', '#BA55D3', '#F08080', '#4682B4', '#9ACD32', '#40E0D0', '#FF69B4', '#F0E68C', '#D2B48C', '#8FBC8B', '#6495ED', '#DDA0DD', '#5F9EA0', '#FFDAB9', '#FFA07A'];
    // D3 category10
    //var colors = ['#0072AD', '#FF7C15', '#009D37', '#DC141D', '#955EB7', '#8C5049', '#E96FBE', '#7D7D7D', '#B7BD36', '#00BCCB'];
    // D3 category20
    var chartsColors = <%- sprintf('%-j', chartsColors) %>;
    $(function () {
        Highcharts.setOptions({
            credits: {
                enabled: false
            },
            chart: {
                backgroundColor: 'transparent',
                animation: false
            },
            plotOptions: {
                series: {
                    animation: false
                },
                pie: {
                    dataLabels: {
                        y: -10
                    }
                }
            },
            title: {
                useHTML: true
            },
            colors: chartsColors
        });
    });
</script>

<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading with-button">
                <a href="/filament/cost-calculator" class="btn btn-default"><i class="fa fa-calculator"></i> <%- __('Cost calculator'); %></a>
                <h2 class="panel-title"><i class="rs rs-filament"></i>&nbsp;<%- __('Filaments'); %></h2>
            </div>
            <div class="panel-body">
                <div class="row-fluid filament-stats">
                    <div class="col-sm-4">
                        <% if (filament.stats.totalCount) { %>
                        <div class="filament-stats-text"><i class="rs rs-filament"></i> <%- __('%d filaments', filament.stats.totalCount) %></div>
                        <% } %>
                        <% if (filament.stats.totalWeight) { %>
                        <div class="filament-stats-text"><i class="p3di p3di-weight"></i> <%- __('%.2f Kg', filament.stats.totalWeight) %></div>
                        <% } %>
                        <% if (filament.stats.totalLength) { %>
                        <% if (filament.stats.totalLength > 1000) { %>
                        <div class="filament-stats-text"><i class="p3di p3di-ruler"></i>  <%- __('%.2f km', filament.stats.totalLength / 1000) %></div>
                        <% } else { %>
                        <div class="filament-stats-text"><%- __('%.2f m', filament.stats.totalLength) %></div>
                        <% } %>
                        <% } %>
                        <% if (filament.stats.totalFinishedCount) { %>
                        <div class="filament-stats-text"><i class="fa fa-battery-empty"></i> <%- __('%d finished', filament.stats.totalFinishedCount) %></div>
                        <% } %>
                        <% if (filament.stats.totalUnusedCount) { %>
                        <div class="filament-stats-text"><i class="fa fa-battery-full"></i> <%- __('%d unused', filament.stats.totalUnusedCount) %></div>
                        <% } %>
                        <div style="margin-top:3px;">
                            <a href="/filament/stats"><%- __('More statistics...') %></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <% if (filament.stats.countPerMaterials) { %>
                        <div id="filament-stats-count-per-materials" style="height: 210px"></div>
                        <script type="text/javascript">
                            $(function () {
                                $('#filament-stats-count-per-materials').highcharts({
                                    chart: {
                                        type: 'bar'
                                    },
                                    title: {
                                        enabled: false,
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: <%- sprintf('%-j', filament.stats.countPerMaterials.map(function(doc) {
                                            return doc.label;
                                        })); %>,
                                        title: {
                                            text: null
                                        },
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            enabled: false
                                        },
                                        labels: {
                                            overflow: 'justify'
                                        }
                                    },
                                    plotOptions: {
                                        bar: {
                                            dataLabels: {
                                                enabled: true
                                            },
                                            pointWidth: 10
                                        }
                                    },
                                    legend: {
                                        enabled: false
                                    },
                                    credits: {
                                        enabled: false
                                    },
                                    series: [{
                                        name: '<%- __('Count') %>',
                                        data: <% var colorIdx = 1; %><%- sprintf('%-j', filament.stats.countPerMaterials.map(function(doc) {
                                            doc.y = doc.count;
                                            doc.color = chartsColors[colorIdx];
                                            doc.borderColor = chartsColors[colorIdx];
                                            colorIdx += 2;
                                            if (colorIdx > chartsColors.length) {
                                                colorIdx = 0;
                                            }
                                            return doc;
                                        })); %>
                                    }]
                                });
                            });
                        </script>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 side-info">

        <% if (locals.shopCount && (shopCount > 0)) { %>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-shopping-bag"></i>&nbsp;<%- __n("%s shop", shopCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.randomShop) { var shop = randomShop %>
                <a href="<%- shop.url %>" target="_blank" class="shop-block">
                    <% if (shop.logo && shop.logo.size) { %>
                    <img class="shop-logo" src="/shop/get-logo/<%- shop.id %>">
                    <% } else { %>
                    <div class="shop-name"><%- shop.name %></div>
                    <% } %>
                </a>
                <% } %>
                <div class="button-bar">
                    <a href="/shop" class="btn btn-default"><i
                                class="fa fa-shopping-bag"></i>&nbsp;<%- __('View all shops'); %></a>
                </div>
            </div>
        </div>
        <% } %>

        <% if (locals.brandCount && (brandCount > 0)) { %>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-trademark"></i>&nbsp;<%- __n("%s brand", brandCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.randomBrand) { var brand = randomBrand %>
                <a href="<%- brand.url %>" target="_blank" class="brand-block">
                    <% if (brand.logo && brand.logo.size) { %>
                    <img class="brand-logo" src="/brand/get-logo/<%- brand.id %>">
                    <% } else { %>
                    <div class="brand-name"><%- brand.name %></div>
                    <% } %>
                </a>
                <% } %>
                <div class="button-bar">
                    <a href="/brand" class="btn btn-default"><i
                                class="fa fa-trademark"></i>&nbsp;<%- __('View all brands'); %></a>
                </div>
            </div>
        </div>
        <% } %>

        <% if (locals.materialCount && (materialCount > 0)) { %>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-leaf"></i>&nbsp;<%- __n("%s material", materialCount); %></h2>
            </div>
            <div class="panel-body">
                <% if (locals.randomMaterial) { var material = randomMaterial %>
                <div class="material-block">
                    <div class="material-name"><%- material.name %></div>
                    <div class="row">
                        <div class="col-md-6">
                            <% if (material.headTemp) {
                                temp = material.headTemp;
                                iconClass = "rs rs-extruder"; %>
                            <% include material/partial/tempRange.ejs %>
                            <% } %>
                        </div>
                        <div class="col-md-6">
                            <% if (material.bedTemp) {
                                temp = material.bedTemp;
                                iconClass = "rs rs-heated-bed"; %>
                            <% include material/partial/tempRange.ejs %>
                            <% } %>
                        </div>
                    </div>
                    <div class="material-description"><%- marked(material.description) %></div>
                </div>
                <% } %>
                <div class="button-bar">
                    <a href="/material" class="btn btn-default"><i
                                class="fa fa-leaf"></i>&nbsp;<%- __('View all materials'); %></a>
                </div>
            </div>
        </div>
        <% } %>
    </div>

</div>

