<h1><i class="fa fa-shopping-bag"></i>&nbsp;<%- __('Shops') %></h1>

<div class="panel panel-default">
    <div class="panel-heading with-button">
        <a href="/shop/add" class="btn btn-primary trg-add-shop"><i
                    class="fa fa-plus"></i>&nbsp;<%- __('Add shop') %></a>
        <% if (shops && shops.length) { %>
        <h3 class="panel-title"><%- __n("%s shop", "%s shops", shops.length || 0); %></h3>
        <% } else { %>
        <%- __('No shop found.') %>
        <% } %>
    </div>
    <% if (shops && shops.length) { %>
    <table class="table shop-list">
        <tr>
            <th><%- __('Name / Url') %></th>
            <th><%- __('Logo') %></th>
            <th><%- __('Creation date') %></th>
            <th></th>
        </tr>
        <% shops.forEach(function (shop) { %>
        <tr>
            <td>
                <span class="shop-name"><%- shop.name %></span>
                <% if (shop.url && (shop.url != '')) { %>
                <br/>
                <a href="<%- shop.url %>" target="_blank"><%- shop.url %></a>
                <% } %>
            </td>
            <td>
                <% if (shop.logo && shop.logo.size) { %>
                <img class="shop-logo" src="/shop/get-logo/<%- shop.id %>">
                <% } %>
            </td>
            <td><%- moment(shop.creationDate).format('LLLL') %></td>
            <td class="table-actions">
                <div class="actions-block">
                    <a href="/shop/set-logo/<%- shop.id %>"><i class="fa fa-picture-o"></i>&nbsp;<%- __("change picture") %></a>
                    <br/>
                    <a href="/shop/edit/<%- shop.id %>"><i class="fa fa-pencil"></i>&nbsp;<%- __("edit") %></a>
                    <a href="/shop/delete/<%- shop.id %>" data-id="<%- shop.id %>" class="trg-delete-shop"><i class="fa fa-trash"></i>&nbsp;<%- __("delete") %></a>
                </div>
            </td>
        </tr>
        <% }); %>
    </table>
    <% } %>
</div>

<div id="shop-message-container"></div>

<script type="text/javascript">
    $(function () {
        function deleteShop(shopId) {
            $.ajax({
                type: "DELETE",
                url: '/shop/delete/'+shopId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.message) {
                        App3DPTools.successFlash('#shop-message-container', data.message);
                    }
                    document.location = document.location;
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#shop-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#shop-message-container', errorMsg);
                }
            });
        }

        $('.trg-delete-shop').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var shopId = $this.data('id');

            $.ajax({
                type: "GET",
                url: '/shop/get/'+shopId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data.shop) {
                        App3DPTools.confirmModal(Locale3DPTools.__('Delete %s shop?', data.shop.name), function () {
                            deleteShop(shopId);
                        }, "shops#"+Locale3DPTools.__('delete-a-shop'));
                    } else {
                        App3DPTools.errorFlash('#shop-message-container', Locale3DPTools.__('Error while retrieving data for shop %s.', shopId));
                        return;
                    }
                },
                error: function (xhr, status, errorMsg) {
                    if (xhr.responseJSON) {
                        var data = xhr.responseJSON;
                        if (data.message) {
                            App3DPTools.errorFlash('#shop-message-container', data.message);
                            return;
                        }
                    }
                    App3DPTools.errorFlash('#shop-message-container', errorMsg);
                }
            });
        });
    });
</script>