<link rel="stylesheet" href="/vendor/javascripts/themes/prism.css">
<script src="/vendor/javascripts/prism.js"></script>
<script src="/vendor/javascripts/components/prism-json.js"></script>
<script src="/vendor/javascripts/components/prism-yaml.js"></script>

<h1>
    <%= __(pageTitle) %>
    <div class="pull-right">
        <button id="send-email" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" <%- (!locals.canSendEmail || (canSendEmail === false)) ? 'disabled title="'+__('Account recovery feature is disabled as there is no valid email sending configuration.')+'"' : '' -%>><i class="fa fa-envelope"></i> <%- __('Send a test email'); %></button>
    </div>
</h1>

<ul class="nav nav-tabs" id="configTabs">
    <li role="presentation" class="active"><a href="#yamlConfigPane">YAML</a></li>
    <li role="presentation"><a href="#jsonConfigPane">JSON</a></li>
</ul>

<div class="tab-content" id="configViewer">
    <div id="yamlConfigPane" class="tab-pane active">
        <div id="yamlConfig">
            <pre><code class="language-yaml"><%- yamlConfigToShow -%></code></pre>
        </div>
    </div>
    <div id="jsonConfigPane" class="tab-pane">
        <div id="jsonConfig">
            <pre><code class="language-json"><%- JSON.stringify(jsonConfigToShow, null, 2) -%></code></pre>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $('#configViewer').height('calc(100vh - ' + ($('#configViewer').offset().top + 30) + 'px)')

    $('[data-toggle="tooltip"]').tooltip();

    $('#configTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $('#send-email').click(function(e) {
        e.preventDefault();
        let $this = $(this);

        $this.prop('disabled', 'disabled');
        $('i.fa', $this).first().addClass('fa-spin');
        $.ajax('/admin/send-test-email', {
            success: function(data) {
                if (data.status) {
                    if (data.recipent && data.recipent !== "") {
                        App3DPTools.successFlash('#app-message-container', Locale3DPTools.__('Test email successfully sent to %s.', data.recipent), 5000);
                    } else {
                        App3DPTools.successFlash('#app-message-container', Locale3DPTools.__('Test email successfully sent.'), 5000);
                    }
                } else {
                    App3DPTools.errorFlash('#app-message-container', Locale3DPTools.__('Error while sending test email: %s', data.message || 'unknown error'), 5000);
                }
            },
            error: function(jqXHR, textStatus, errorThrown ) {
                App3DPTools.errorFlash('#app-message-container', Locale3DPTools.__('Error while sending test email: %s', errorThrown), 5000);
            },
            complete: function() {
                $('i.fa', $this).first().removeClass('fa-spin');
                $this.removeAttr('disabled');
            }
        });
    })
});
</script>